.openbutton img,.closebutton img{width: 44.11764%;margin: 17px auto;display: block;}
.classUl{overflow: hidden;position: absolute;left: 0%;}
.classIco .classIcoLink{color: #F5184C;border-bottom: 2px solid #F5184C;}
.goodUl{width: 100%;margin: 0 auto;font-size: 12px;color: #404040;}
.goodUl li{width: 100%;overflow: hidden;margin-top: 5px;}
.goodLeftLink{width: 49.33333%;float: left;display: block;border-bottom: 2px solid #d9d9d9;background: #ffffff;}
.goodRightLink{width: 49.33333%;float: right;display: block;border-bottom: 2px solid #d9d9d9;background: #ffffff;}
.loadImg{width: 100%;display: block;margin-bottom: 5px;}
.goodName{width: 91.89189%;margin: 0 auto;font-weight: bold;line-height: 20px;color: #404040;font-size: 12px;}
.operationBox{width: 91.89189%;overflow: hidden;margin: 13px auto;font-weight: bold;}
.Price{float: left;color: #F5184C;}
.collectionImg{width: 13.37386%;float: right;}
.RecommendBox{width: 91.06666%;margin: 19px auto;overflow: hidden;font-size: 0.75em;color: #999999;}
.line{width: 32.79648%;height: 1px;background:#cccccc;vertical-align: middle;display: inline-block;}
.EndTxt{display: inline-block;width: 31.69985%;text-align: center;font-size: 12px;}
.topBtn{width: 40px;height: 40px;position: fixed;bottom: 94px;right: 20px;z-index: 10;display: none;}
.maskBox{width: 100%;height: 100%;position: absolute;top: 0px;left: 0px;z-index: 99;background-color: rgba(0, 0,0, 0.25);display:none;filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);position: fixed;}
.allClass{width: 86.86666%;float: left;margin-left: 2.66666%;font-size:14px;color: #666666;line-height: 43px;}
.maskClass{width: 94.66666%;margin: 0 auto;overflow: hidden;font-size: 15px;}
.classOutBox{width: 100%;background: #FFFFFF;}
/*头部搜索框样式*/
.popupeIptBox{width:75.1667%;border-radius:32px;line-height:32px;background:#ffffff;font-size: 13px;margin: 6px 0 6px 7%;display: inline-block;vertical-align: middle;position: relative;}
.popupeIpt{width: 77.1667%;border-radius: 32px;border: none;line-height: 32px;background: #ffffff;margin-left: 10%;font-size: 16px;}
.headIptSearchBtnBox{position: absolute;right: 10px;top: 7px;height: 21px;width: 21px;}
.headIptSearchBtn{background: url(../img/frrtg.png) no-repeat;border:none;color: #FFFFFF;width: 100%;height: 100%;display: block;}
/*排序样式*/
.SelectBox-ul{width: 100%;background: #ffffff;overflow: hidden;border-top: 1px solid #d7d7d7;}
.SelectBox-ul-li{width: 25%;float: left;line-height: 40px;color: #232326;text-align: center;}
.SelectBox-ul-li-txt{display: inline-block;vertical-align: middle;}
.SelectBox-ul-li-txt-color{color: #f15353;}
.SelectBox-ul-li1-img{width: 8px;vertical-align: middle;}
.SelectBox-ul p{font-size: 14px;}