.CarouselBox{width: 100%;margin: 0 auto;position: relative;overflow: hidden;}
.CarouselUl{width:300%;position: absolute;left: 0%;top: 0%;}
.CarouselIco{width: 33.33333%;float: left;}
.CarouselIco a{display: block;width: 100%;height: 100%;}
.CarouselIco img{width: 100%;}
.spotUl{overflow: hidden;position: absolute;left: 46%;top: 94%;width: 42px;}
.spotIco{width: 14px;height: 14px;float: left;background: url(../img/err2.png) no-repeat;}
.spotIcoImg{background: url(../img/err1.png) no-repeat;}
.class{width: 100%;margin: 0px auto;}
.class1 ul{width: 100%;overflow: hidden; margin-top: 15px;border-bottom: 1px solid #d9d9d9;;}
.class1Ico{float: left;width: 13.86666%;margin: 0px 5.56666% 0 5.5666%;}
.class1Ico a{display: block;width: 100%;height: 100%;}
.class1Ico img{width: 100%;display: block;}
.class1Ico p{line-height: 15px;font-size: 0.75em;color: #4d4d4d;text-align: center;margin: 7px auto;}
.RecommendLink{width: 96.8%;display: block;margin: 11px auto;}
.Recommend{width: 100%;}
.RecommendBox{width: 91.06666%;margin: 19px auto;overflow: hidden;font-size: 0.75em;color: #999999;}
.line{width: 32.79648%;height: 1px;background:#cccccc;vertical-align: middle;display: inline-block;}
.lineBgc{width: 3.46666%;display: inline-block;margin-left: 3.27086%; vertical-align: middle;}
.lineTxt{margin-left: 1.90336%;display: inline-block; vertical-align: middle;margin-right: 5.27086%;}
.goodHead{width:29.06666%;font-size: 0.9375em;line-height: 50px;color:#4d4d4d;margin: 0 auto;text-align: center;background:0px 22px url(../img/bgc.png) no-repeat;background-size: 100%;font-weight: bold;padding: 0% 2.8%;}
.goodUl{width: 100%;margin: 0 auto;font-size: 12px;color: #404040;}
.goodUl li{width: 100%;overflow: hidden;margin-top: 5px;}
.goodLeftLink{width: 49.33333%;float: left;display: block;border-bottom: 2px solid #d9d9d9;background: #ffffff;}
.goodRightLink{width: 49.33333%;float: right;display: block;border-bottom: 2px solid #d9d9d9;background: #ffffff;}
.loadImg{width: 100%;display: block;margin-bottom: 5px;}
.goodName{width: 91.89189%;margin: 0 auto;font-weight: bold;line-height: 20px;color: #404040;}
.operationBox{width: 91.89189%;overflow: hidden;margin: 13px auto;font-weight: bold;}
.Price{float: left;color: #F5184C;}
.collectionImg{width: 13.37386%;float: right;}
.SeeMoreBox{width: 29.4%;height:39px;margin: 0 auto;color: #999999 !important;line-height: 39px;display: block;font-size: 0.8125em;}
.SeeMoreBox img{width: 12.37113%;display: block;float: left;margin: 13px 0 0 5.37113%;}
.EndTxt{display: inline-block;width: 31.69985%;text-align: center;}
.topBtn{width: 40px;height: 40px;position: fixed;bottom: 94px;right: 20px;z-index: 10;display: none;}
.popupe{width: 100%;position: absolute;top: 0px;left: 0px;z-index: 99;background: #ffffff;display: none;position: fixed;top: 0px;}
.popupeHead{width: 100%;border-bottom: 1px solid #cccccc;}
.popupe-ipt-box{width: 60.1667%;border-radius: 32px;background: #ededed;font-size: 13px;padding-left: 12.83333%;margin: 6px 0 6px 2.66666%;display: inline-block;position: relative;}
.popupeIpt{width: 80%;border: none;line-height: 32px;background: #ededed;}
.popupeClose{font-size: 13px;color: #1a1a1a !important;padding-left: 3.6%;}
.hotTxt{font-size: 14px;color: #999999;padding-left: 2.66666%;margin-top: 18px;}
.popupeUl{width: 94.66666%;margin: 30px auto 0;font-size: 14px;text-align: center;line-height: 30px;overflow: hidden;}
.popupeUl li{width: 33.33333%;float: left;}
.popupeUl a{color: #1a1a1a !important;}