/*通用样式*/
*{margin:0px;padding: 0px;list-style: none;text-decoration: none;-webkit-padding-start: 0px;font-family: "微软雅黑";outline:none;}
body{max-width: 720px;min-width: 320px;width: 100%;margin: 0 auto;_width:expression(document.body.clientWidth > 768 ? "768px" : "auto");background: #ededed;font-size: 62.5%;}
.ui_loader_default{ display:none}
.ui_mobile_viewport{ border:none;}
.ui_page {padding: 0; margin: 0; outline: 0}
/*头部*/
.head_box{width: 100%;background: url(../img/head-img.png) no-repeat;background-size: 100% 100%;border-bottom: 1px solid #cccccc;}
.head_left_box{float: left;margin-left: 2.66666%;width: 50%;}
.user_img_1{width: 29.33333%;display: inline-block;vertical-align: middle;margin-top: 30px;margin-bottom: 30px;}
.Login_link{font-size: 1.6em;color: #ffffff;margin-left: 5.33333%;}
.head_right_box{float: right;font-size: 1.6em;color: #ffffff;margin-right: 2.66666%;display: block;}
/*我的订单*/
.My_order_box{width: 100%;margin-top: 9px;border-bottom: 1px solid #d9d9d9;background: #ffffff;}
.My_order_head{width: 100%;border-bottom: 1px solid #d9d9d9;border-top: 1px solid #d9d9d9;overflow: hidden;line-height: 44px;display: block;}
.My_order_head_left_img{width: 7.73333%;margin: 8px 0 8px 2.6666%;float: left;}
.My_order_head_txt_1{font-size: 1.5em;color: #1a1a1a;margin-left: 3.86666%;float: left;}
.My_order_head_txt_2{font-size: 1.2em;color: #808080;float: right;}
.right_img{width: 2.26666%;float: right;margin: 15px 2.66666% 0 3.73333%;}
.My_order_ul{width: 100%;overflow: hidden;}
.My_order_li{width: 20%;float: left;}
.My_order_link{width: 100%;display: block;}
.My_order_img_1{width: 28%;margin: 11px auto 0;display: block;}
.My_order_txt{width: 100%;text-align: center;font-size: 1.2em;color: #333333;margin: 8px auto 15px;}
.Coupon_link{width: 100%;display: block;background: #ffffff;overflow: hidden;}
.Link_classification_box{width: 100%;background: #ffffff;margin: 10px auto 0;border-bottom: 1px solid #d9d9d9;}
.Link_classification_li{width: 100%;font-size: 1.3em;line-height: 43px;}
.Link_classification{width: 100%;overflow: hidden;}
.Link_classification_img{width: 7.73333%;display: inline-block;vertical-align: middle;margin-left: 2.66666%;}
.Link_classification_right{width: 85.6%;display: inline-block;vertical-align: middle;border-bottom: 1px solid #d9d9d9;color: #333333;margin-left: 2.66666%;}
.Link_classification_txt{width: 80%;display: inline-block;vertical-align: middle;}
.Link_classification_right_img{width: 2.69841%;display: inline-block;vertical-align: middle;margin-left: 12.19047%;}
/*你可能喜欢*/
.RecommendBox{width: 91.06666%;margin: 19px auto;overflow: hidden;font-size: 0.75em;color: #999999;}
.line{width: 32.79648%;height: 1px;background:#cccccc;vertical-align: middle;display: inline-block;}
.lineBgc{width: 3.46666%;display: inline-block;margin-left: 3.27086%; vertical-align: middle;}
.lineTxt{margin-left: 1.20336%;display: inline-block; vertical-align: middle;margin-right: 1.27086%;}
.goodUl{width: 100%;margin: 0 auto;font-size: 12px;color: #404040;}
.goodUl li{width: 100%;overflow: hidden;margin-top: 5px;}
.goodLeftLink{width: 49.33333%;float: left;display: block;border-bottom: 2px solid #d9d9d9;background: #ffffff;}
.goodRightLink{width: 49.33333%;float: right;display: block;border-bottom: 2px solid #d9d9d9;background: #ffffff;}
.loadImg{width: 100%;display: block;margin-bottom: 5px;}
.goodName{width: 91.89189%;margin: 0 auto;font-weight: bold;line-height: 20px;color: #404040;}
.operationBox{width: 91.89189%;overflow: hidden;margin: 13px auto;font-weight: bold;}
.Price{float: left;color: #F5184C;}
.collectionImg{width: 13.37386%;float: right;}
/*底部导航栏*/
.footer{width: 100%;overflow: hidden;font-size: 12px;color:#666666;margin: 0 auto;background: #f5f5f5;border-top: 1px solid #d9d9d9;position: fixed;bottom: 0px;max-width: 720px;}
.footer li{width: 25%;float: left;font-size: 12px;}
.indexImg{width: 22.7027%;display: block;margin: 7px auto 0;}
.footer p{width: 100%;color:#666666;text-align: center;margin: 5px auto;}