/*头部*/
.public1-head-box{position: fixed;top: 0px;width: 100%;z-index: 999;}
/*下单时间*/
.order_head_left_txt,.progress_txt{display: inline-block;vertical-align: middle;color: #262626;}
.order_head_left{font-size: 1.2em;margin-left: 2.66666%;margin-bottom: 10px;}
.order_head_left_txt_1{display: inline-block;vertical-align: middle;color: #262626;line-height: 15px;}
.order_head_left_1{width: 94.66666%;margin-left: 2.66666%;}
/*进度查询*/
.progress_box{width: 100%;margin: 10px auto 0;}
/*进度条*/
.Progress_bar_box{width: 100%;background: #ffffff;margin: 10px auto 0;overflow: hidden;}
.Progress_bar_1{width: 82.93333%;margin: 22px auto 0;overflow: hidden;}
.Progress_bar_2{width: 91.93333%;margin: 0 auto;overflow: hidden;}
.Progress_bar_5{width: 95%;margin: 0 auto;overflow: hidden;}
.Progress_bar_3{width: 84.93333%;overflow: hidden;}
.Progress_bar_4{width: 100%;overflow: hidden;}
.Progress_li_1{width: 10.8125%;display: inline-block;vertical-align: middle;}
.Progress_li_3{width: 18.8125%;display: inline-block;vertical-align: middle;}
.Progress_li_1 img,.Progress_li_3 img{width: 100%;height: 100%;}
.Progress_li_2{width: 29.21875%;height: 5px;line-height: 0px;color: #cccccc;display: inline-block;vertical-align: middle;text-align: center;overflow: hidden;}
.Progress_li_2_c{color: #e63322 !important;}
.Progress_li_5{width: 55.21875%;height: 5px;line-height: 0px;color: #cccccc;display: inline-block;vertical-align: middle;text-align: center;overflow: hidden;}
.Progress_li_txt_1{font-size: 1.3em;color: #999999;display: inline-block;vertical-align: middle;width: 19.75%;text-align: center;}
.Progress_li_txt_3{font-size: 1.3em;color: #999999;display: inline-block;vertical-align: middle;width: 21.75%;float: left;}
.Progress_li_txt_2{font-size: 1.3em;color: #999999;display: inline-block;vertical-align: middle;width: 24.3125%;margin: 0 15.54375% 0 15.54375%;text-align: center;}
.Progress_li_txt_4{font-size: 1.3em;color: #999999;display: inline-block;vertical-align: middle;width: 24.3125%;float: right;text-align: right;}
.Progress_li_2_color{color: #e63322;}
.Progress_li_txt{color: #e63322;}
.ver_lin{width: 72.93333%;text-align: right;writing-mode: tb-rl;margin: 0 auto;height: 40px;overflow: hidden;color: #cccccc;}
.Progress_out_box{width: 100%;margin: 10px auto;overflow: hidden;}
.pro_out{float: right;width: 46%;margin-right: 10.5%;}
/*服务单*/
.receipt_head{background: #ffffff;margin: 12px auto 0;border-bottom: 1px solid #e6e6e6;padding-left: 2.66666%;font-size: 1.6em;color: #262626;width: 97.33334%;line-height: 47px;text-align: left;}
.list_ul{width: 100%;margin: 0 auto 20px;border-bottom: 1px solid #f2f2f2;background: #ffffff;}
.list_li{width: 100%;border-bottom: 1px solid #f2f2f2;overflow: hidden;}
.list_li2{width: 100%;border-bottom: 1px solid #f2f2f2;overflow: hidden;}
.list_p1{width: 30%;float: left;margin-left: 2.66666%;font-size: 1.4em;line-height: 40px;}
.list_p2{width: 61%;float: right;font-size: 1.4em;line-height: 20px;padding-left: 2%;margin: 10px 2.66666% 10px 0.66666%;}
.list_div2{width: 61%;float: right;margin-right: 2.66666%;}
.list_img{width: 24%;margin: 1px;margin-left: 0px;display: block;float: left;}
/*物流*/
.dress{width: 90%;float: left;overflow: hidden;border-right: 1px solid #f2f2f2;}
.dress_clo{width: 90%;float: left;overflow: hidden;border-right: 1px solid #f2f2f2;display: none;}
.dress_p1{float: left;margin-left: 2.66666%;font-size: 1.4em;line-height: 40px;width: 31.5%;}
.dress_p2{float: right;margin-left: 2.66666%;font-size: 1.4em;line-height: 40px;width: 60%;border: none;}
.dress_p4{float: right;margin-left: 2.66666%;font-size: 1.4em;line-height: 40px;width: 64%;border: none;}
.dress_div1{width: 100%;border-bottom: 1px solid #f2f2f2;}
.list_btn1{width: 9%;font-size: 1.8em;color: #ff0000;line-height: 32px;text-align: center;border: none;background: #ffffff;font-weight: bold;position: absolute;right: 0%;top: 0%;}
.list_div11{width: 80%;margin: 10px auto;overflow: hidden;}
.list_div11 a{width: 44%;display: block;font-size: 1.4em;color: #323333;border: 1px solid #bfd6af;line-height: 30px;text-align: center;}
.list_a1{float: left;background: #eef7e6;}
.list_a2{float: right;background: #f5f5f5;}
.list_li2_clo{position: relative;}
/*物流公司选择弹窗*/
.log_ul{width: 100%;background: #CCCCCC;font-size: 1.6em;color: #ffffff;display: none;}
.log_li{width: 92.666666%;margin: 0 auto;border-bottom: 1px solid #ffffff;line-height: 44px;padding-left: 2%;}
.log_li2{background: #FFFFFF;color: #6a666a;}
/*物流公司确定按钮*/
.log_btn1{background: #e43f3d;line-height: 44px;font-size: 1.6em;text-align: center;color: #FFFFFF;position: fixed;bottom: 0px;border: none;display: block;width: 100%;display: none;}
.ipt_date{width: 60%;float: left;border: none;height: 40px;line-height: 40px;margin-left: 2.66666%;}
/*取消服务单按钮*/
.csl_btn{width: 100%;border: none;line-height: 40px;font-size: 1.6em;color: #FFFFFF;text-align: center;font-weight: bold;background: #e63322;position: fixed;bottom: 0px;}
/*上传信息图片放大图遮罩*/
.Mask_Img_box{width: 100%;position: fixed;left: 0px;top: 0px;z-index: 999;display: none;background-color:rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.Mask_Img{width: 100%;position: fixed;top: 20%;}
.Mask_Img_out{width: 100%;overflow: hidden;position: relative;}
.Mask_Img_close_btn{width: 7%;font-size: 3.6em;position: absolute;top: 22%;right: 7%;font-weight: bold;color: #FFFFFF;}
