body{background: #f5f5f5;}
/*头部下拉框*/
.list_box1{width: 25%;overflow: hidden;position: fixed;top: 0px;right: 0px;border-left: 1px solid #cccccc;display: none;}
.list_div1{width: 100%;float: right;border: 1px solid #cccccc;font-size: 1.4em;border-bottom: none;border-right: none;background: #ffffff;}
.list_a3{display: block;width: 100%;border-bottom: 1px solid #cccccc;line-height: 30px;color: #363636;padding-left: 5%;}
/*头部搜索框*/
.serch_box{width: 100%;background: #ffffff;border-bottom: 1px solid #cccccc;border-top: 1px solid #cccccc;position: fixed;top: 0px;display: none;}
.serch_div1{width: 80%;margin: 10px auto;border: 1px solid #cccccc;}
.serch_ipt1{width: 80%;display: inline-block;vertical-align: middle;line-height: 25px;font-size: 1.4em;border: none;padding-left: 2%;}
.serch_img1{width: 10%;display: inline-block;vertical-align: middle;margin: 5px 2%;}
.Link_img1{width: 4%;display: inline-block;vertical-align: middle;margin-left: -6%;}
.public1_head_link,.Address_edit,.Finish_editing{font-size: 1.5em;color: #666666;position: absolute;top: 13px;right: 15.66666%;display: none;}
.public1-head-box{position: fixed;top: 0px;width: 100%;border-bottom: 1px solid #cccccc;background: #ffffff;}
/*地址*/
.Address_edit_box{width: 100%;border-top: 1px solid #cccccc;}
.Address_edit_ul{width: 100%;background: #ffffff;}
.Address_edit_li{width: 100%;border-bottom: 1px solid #e6e6e6;overflow: hidden;}
.Address_edit_div{width: 94.66666%;margin: 15px auto 0;font-size: 1.6em;color: #262626;overflow: hidden;}
.Address_user_name,.Address_user_name_1,.Address_user_name_2,.Address_user_name_3{float: left;}
.Phone_number,.Phone_number_1,.Phone_number_2,.Phone_number_3{float: right;}
.user_Address{width: 94.66666%;margin: 10px auto 15px;line-height: 18px;color: #666666;}
/*地址操作栏*/
.operation_box{width: 100%;border-top: 1px solid #e6e6e6;font-size: 1.3em;color: #666666;line-height: 42px;overflow: hidden;display: none;}
.clone{display: none;}
.default_btn{width: 4.53333%;display: inline-block;vertical-align: middle;margin-left: 2.66666%;float: left;margin-top: 12px;}
.operation_txt{margin-left: 3.33333%;float: left;}
.operation_img{width: 4%;margin-right: 2.4%;float: right;margin-top: 15px;}
.operation_txt_1{float: right;margin-right: 4%;margin-top: 2px;}
/*修改地址*/
.Modify_address_box{width: 100%;background: #ffffff;display: none;}
.Modify_address_ul{width: 100%;border-top: 1px solid #e6e6e6;}
.Modify_address_li{width: 100%;border-bottom: 1px solid #e6e6e6;line-height: 50px;font-size: 1.4em;color: #1a1a1a;}
.Modify_address_left,.Modify_address_left_1,.Modify_address_left_2,.Modify_address_left_3{display: inline-block;margin-left: 2.66666%;}
.Modify_address_right,.Modify_address_right_1,.Modify_address_right_2,.Modify_address_right_3{display: inline-block;vertical-align: middle;}
.user_address{width: 55%;line-height: 15px;}
.Modify_address_img{width: 2.13333%;float: right;margin: 17px 2.66666% 0 0;}
.Default_address_setting{width: 100%;border-bottom: 1px solid #e6e6e6;}
.Default_address_setting_left{width: 49.33333%;margin-left: 2.66666%;font-size: 1.2em;color: #b3b3b3;margin-top: 10px;margin-bottom: 10px;display: inline-block;vertical-align: middle;}
/*保存按钮*/
.save_btn,.save_new_address{width: 89.33333%;margin: 20px auto 0;background: #e63322;line-height: 40px;color: #ffffff;text-align: center;border-radius: 5px;display: none;}
/*删除提示框*/
.Delete_prompt_box{width: 100%;position: absolute;left: 0px;top: 0px;z-index: 999;display:none;background-color: rgba(0, 0,0, 0.25);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.Delete_prompt_center{width: 73.33333%;background: #ffffff;border-radius: 5px;position: fixed;top: 30%;left: 13.33333%;color: #262626;}
.Delete_prompt_txt{width: 100%;font-size: 1.5em;text-align: center;margin: 25px auto;}
.Delete_prompt_btn_box{width: 100%;border-top: 1px solid #e6e6e6;font-size: 1.5em;overflow: hidden;}
.Delete_prompt_btn_box p{text-align: center;line-height: 49px;}
.confirm_deletion,.confirm_deletion_1,.confirm_deletion_2,.confirm_deletion_3,.confirm_deletion_4,.confirm_deletion_5,.confirm_deletion_6,.confirm_deletion_7{width: 50%;border-right: 1px solid #e6e6e6;border-bottom-left-radius: 5px;float: left;}
.Cancel_delete,.Cancel_delete_1,.Cancel_delete_2,.Cancel_delete_3,.Cancel_delete_4,.Cancel_delete_5,.Cancel_delete_6,.Cancel_delete_7{width: 49%;border-bottom-right-radius: 5px;float: right;}
.new_address{width: 10.33333%;display: none;vertical-align: middle;font-size: 1em;text-align: center;border: 1px solid #c2c2c2;line-height: 15px;margin-left: 2%;}
.user_modify_address{width: 70%;line-height: 15px;}
/*详细地址修改框*/
.Pop_box,.Pop_box_2,.Pop_box_3,.Pop_box_4,.Pop_box_5,.Pop_box_6,.Pop_box_7{width: 100%;position: absolute;left: 0px;top: 0px;z-index: 999;display: none;background-color: rgba(0, 0,0, 0.25);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.new_address_ipt,.new_address_ipt_2,.new_address_ipt_3,.new_address_ipt_4,.new_address_ipt_5,.new_address_ipt_6,.new_address_ipt_7{width: 80%;margin: 30px auto 20px;border: 1px solid #e1e1e1;line-height: 30px;font-size: 1.2em;color: #000000;display: block;}
/*设置默认按钮*/
.set_default_btn{width: 14%;display: inline-block;vertical-align: middle;margin-left: 29.33333%;}
.public1_return_img_1,.public1_return_img_2{width: 100%;display: none;}
.payment_express_btn,.New_address_btn{width: 89.33333%;border: none;background: #e63322;line-height: 50px;color: #ffffff;text-align: center;font-size: 1.8em;position: fixed;bottom: 10px;left: 5.33333%;border-radius: 5px;}