.goods-tittle{width: 100%;font-size: 16px;text-align: center;margin: 12px auto 14px;color: #666666;}
.shop-ul{width: 97.33333%;overflow: hidden;}
.shop-li{width: 46.92328%;float: left;margin: 0 0 0 3.01369%;}
.shop-link{display: block;width: 100%;}
.shop-link img{width: 100%;}
.goods-name{width: 100%;font-size: 14px;color: #333333;font-weight: bold;margin-top: 13px;}
.price{margin: 18px auto 15px;color: #e8483b;font-weight: bold;}
