*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: Microsoft YaHei,Hiragino Sans GB;
}
.outBox{
	width: 100%;
	background: #f1f1f1;;
}
.navigation{
	width: 1210px;
	height: 36px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 36px;
}
.navigationLi1{
	margin-left: 10px;
	width: 200px;
	height: 36px;
    float: left;
    text-align: left;
}
.navigationLi1 a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
}
.navigationLi2{
	margin-left: 10px;
	width: 100px;
	height: 36px;
    float: left;
    text-align: left;
}
.navigationLi2 a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
}
.nbkBox{
	width: 100%;
	height: 106px;
	background: #e45050;
}
.nbkCenterBox{
	margin: 0 auto;
	width: 1210px;
	height: 106px;
    font-size: 16px;
}
.nbkCenterBox img{
	display: block;
	float: left;
	margin-top:22px;
}
.nbkCenterBox a{
	color: #ffffff;
	line-height: 106px;
	display: block;
	float: left;
}
.nbkHpage{
	width: 100px;
	margin-left: 70px;
}
.as{
	width: 100px;
}
.news{
	width: 100px;
	float: left;
}
.nbkIpt{
	width: 210px;
	height: 32px;
	background: #fff;
	font-size: 20px;
	line-height: 32px;
	border: none;
	display: block;
	float: left;
	margin: 33px 0 0 165px;
}
.nbkBtn{
	width: 80px;
	height: 32px;
	background: #f7f7f7;
	text-align: center;
	line-height: 32px;
	color: #232323;
	font-size: 16px;
	float: left;
	display: block;
	border: none;
	margin-top: 33px;
	cursor: pointer;
}
.centerBox{
	width: 1210px;
	margin: 35px auto 0;
}
.centerLeftBox{
	width: 120px;
	float: left;
}
.citUl{
	width: 100%;
	margin-bottom: 30px;
}
.citUl li{
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: left;
	font-size: 12px;
}
.citIco{
	background: #e4e4e4;
}
.citIco1{
	font-weight: bold;
	color: #000000;
}
.citIco2{
	margin-top: 5px;
	cursor: pointer;
}
.citIco2:hover{
	background: #e4e4e4;
}
.citIco2 a,.citIco3 a{
	color: #333333;
}
.citIco3{
	font-weight: bold;
	margin: 5px 0;
}
.centerRightBox{
	width: 1088px;
	float: left;
}
.myOrder{
	width: 1088px;
	height: 58px;
	background: #fff;
	font-size: 12px;
	line-height: 58px;
	font-weight: bold;
	color: #666666;
	padding-left: 20px;
}
.orderBox{
	width: 1108px;
	margin: 20px auto;
	background: #fff;
	overflow: hidden;
}
.orderUlBox{
	width: 100%;
}
.orderNavigationUl{
	width: 260px;
	font-size: 12px;
	margin: 20px 0 15px 10px;
	float: left;
}
.ongIco1{
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid #fff;
	text-align: center;
	float: left;
	margin-left: 20px;
}
.ongIco1 a{color: #333333;}
.ongICo{
	font-weight: bold;
	border-bottom: 1px solid #e4393c;
	color: #e4393c;
}
.ongIpt{
	width: 168px;
	height: 23px;
	border: 1px solid #e4e4e4;
	display: block;
	float: left;
	margin: 17px 0 0 600px;
}
.searchBtn{
	width: 52px;
	height: 23px;
	border: 1px solid #e4e4e4;
	display: block;
	float: left;
	margin-top: 17px;
	background: #f6f5f5 url(../images/jhojo.png) 10px -55px no-repeat;
}
.orderNvgBox{
	width: 1048px;
	height: 34px;
	background: #f5f5f5;
	margin: 15px auto 0;
	font-size: 12px;
	color: #666666;
	line-height: 34px;
	position: relative;
}
.orderNvgBox p{
	float: left;
}
.orderNvgBox i{
	width: 7px;
	height: 4px;
	background: url(../images/jhojo.png) -37px -207px no-repeat;
	float: left;
	margin-top: 15px;
}
.odtBox{
	width: 1046px;
	height: 31px;
	margin: 20px auto 0;
	border: 1px solid #e4e4e4;
	font-size: 12px;
	line-height: 31px;
	background: #f5f5f5;
	color: #aaaaaa;
}
.odtBox p{
	float: left;
}
.imgBgc{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background: url(../images/sprite-im.png) no-repeat;
	margin: 5px 0 0 6px;
}
.tableBox{
	margin: 0 auto;
	font-size: 12px;
}
.tableTd1{
	width: 586px;
	border: 1px solid #e4e4e4;
	border-top: none;
}
.tableTd1Img{
	width: 60px;
	height: 60px;
	border: 1px solid #e4e4e4;
	display: block;
	margin: 14px 0 14px 14px;
	float: left;
}
.tableTd1Txt{
	display: block;
	float: left;
	width: 238px;
	margin-left: 14px;
	margin-top: 25px;
	color: #333;
}
.tableTd1Txt:hover{
	color: #e4393c;
}
.number{
	width: 70px;
	height: 20px;
	line-height: 20px;
	float: left;
	margin: 20px 0 0 86px;
	color: #b1aab1;
}
.tableTd2{
	width: 115px;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.tableTd2 div{
	width: 100px;
	height: 20px;
	margin: 15px auto;
	font-size: 12px;
	overflow: hidden;
}
.tableTd2 div p{
	float: left;
	line-height: 15px;
	margin-left: 15px;
}
.tableTd2 div i{
	margin-left: 5px;
	width: 13px;
	height: 14px;
	float: left;
	background: url(../images/jhojo.png) 0 -24px no-repeat;
}
.tableTd3{
	width: 109px;
	border-right: 1px solid #e4e4e4;
	color: #aaaaaa;
	border-bottom: 1px solid #e4e4e4;
}
.tableTd3Txt1{
	width: 93px;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid #e4e4e4;
	text-align: center;
}
.tableTd3Txt2{
	width: 93px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.tableTd4{
	width: 109px;
	text-align: center;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.tableTd5{
	width: 123px;
	text-align: center;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.buyBtn{
	width: 85px;
	height: 27px;
	border: 1px solid #e4e4e4;
	text-align: center;
	line-height: 27px;
	margin: 0 auto;
	cursor: pointer;
}
.buyBtn:hover{
	background: #fff;
    border-color: #e4393c;
    color: #e4393c;
}
.buyBtnTxt:hover {
    color: #e4393c;
}
.buyBtnTxt {
    color: #333333;
    display: block;
    width: 100%;
    height: 100%;
}
.buyBtnBgc{
	width: 11px;
	height: 16px;
	background: url(../images/jhojo.png) -22px -180px no-repeat;
	float: left;
	margin: 6px 0 0 10px;
}
.pageBox{
	margin: 20px auto;
	width: 1048px;
}
.pageIco1{
	width: 64px;
	height: 26px;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	float: right;
	cursor: pointer;
}
.pageTxt{
	float: left;
	font-size: 12px;
	line-height: 26px;
	margin-left: 10px;
	color: #cccccc;
}
.pageTxt1{
	float: left;
	font-size: 12px;
	line-height: 26px;
	margin-left: 5px;
	color: #cccccc;
}
.pageBgc1{
	width: 5px;
	height: 9px;
	background: url(../images/bg_hotsale.gif) -74px -608px no-repeat;
	float: left;
	margin: 8px 0 0 5px;
}
.pageBgc2{
	width: 5px;
	height: 9px;
	background: url(../images/bg_hotsale.gif) -80px -608px no-repeat;
	float: left;
	margin: 8px 0 0 8px;
}
.pageIco2{
	width: 34px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	color: #ff6600;
	float: right;
}
.footerBox{
	width: 100%;
	background: #fff;
}
.footerNgtUl{
	margin-top: 30px;
    border-top: 1px #f3f3f3 solid;
    line-height: 60px;
    width: 960px;
    margin: auto;
    color: #767677;
    font-size: 12px;
    text-align: center;
}
.footerNgtUl a{
	color: #333;
}
.footerTxt{
	width: 100%;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
}
.mothWinBox{
	width: 150px;
	background: #fff;
	position: absolute;
	left: -1px;
	top: -1px;
	display: none;
	border: 1px solid #e4e4e4;
	z-index: 500;
}
.mothWinBox a{
	color: #333;
}
.mothWinIco1,.mothWinIco{
	overflow: hidden;
}
.mothWinTxt{
	margin-left:22px;
}
.mothWinIco1 i{
	margin-left: 20px;
	cursor: pointer;
}
.mothWinIco:hover{
	background: #e4e4e4;
}
.delectBn{
	width: 15px;
	height: 15px;
	float: right;
	background: url(../images/jhojo.png) -23px -132px no-repeat;
	margin: 9px 10px 0 0;
	display: none;
}
.delectBn:hover{
	background: url(../images/jhojo.png) 0px -132px no-repeat;
}
.odtOut{
	width: 1048px;
    margin: 0 auto;
    position: relative;
}
.userWin{
	width: 230px;
    height: 100px;
    background: #fff;
    border: 1px solid #e4e4e4;
    position: absolute;
    left: 375px;
    top: 44px;
    font-size: 12px;
    display: none;
}