*{margin: 0px;padding: 0px;outline: none;text-decoration: none;font-family: Microsoft YaHei,Hiragino Sans GB;list-style:none;}
body{background: #ffffff;}
img{border: none;}
/*用户协议*/
.agr{width: 930px;}
.protocol_con{padding: 10px;line-height: 20px;overflow-x: hidden;overflow-y: auto;margin-bottom: 25px;}
.protocol_button,.protocol{overflow: hidden;}
.protocol_button button{margin:0 auto 30px;display:block;width:400px;height:54px;color:#fff;background:#e22;border:0;font-size:16px;cursor: pointer;}
.ui_dialog_close{cursor:pointer;display:block;position:absolute;z-index:100;top:3px;right:10px;overflow:hidden;padding-right:0px;font-family:cursive;}
.protocol_con p{font-size: 14px;}
h5{margin: 10px 0;}