.typeBox{width: 998px;border: 1px solid #e6e6e6;margin: 10px auto;}
.typehead{width: 100%;height: 39px;font-size: 14px;line-height: 39px;border-bottom: 1px solid #e6e6e6;position: relative;}
.searIpt{width: 130px;height: 22px;border: 1px solid #cccccc;line-height: 22px;padding-left: 18px;border-radius: 11px;outline: none;padding-right: 30px;}
.typeCenterBox{width: 100%;overflow: hidden;border-bottom: 1px dashed #e0e0e0;}
.typeLeft{width: 117px;float: left;background: #fafafa;}
.typeLeft p{width: 100%;height: 12px;line-height: 12px;color: #999999;margin-top: 12px;font-size: 12px;}
.Triangle{width: 5px;height: 9px;margin-left: 28px;}
.typeUl{width: 810px;float: left;overflow: hidden;font-size: 12px;margin-left: 71px;background: #ffffff;}
.typeIco{width: 162px;float: left;height: 33px;line-height: 33px;text-align: left;}
.typeIco a{display: block;width: 100%;height: 100%;color: #808080;}
.typeSize{height: 36px;line-height: 36px;float: left;margin-right: 50px;}
.typeSize a{display: block;width: 100%;height: 100%;color: #959595;}
.mainGoodsBox{width: 1000px;margin: 17px auto;}
.mainGoodsHeadBox{width: 1000px;height: 35px;font-size: 12px;background: #fafafa;color: #343434;font-weight: 550;}
.sortBox{width: 313px;height: 23px;border: 1px solid #cccccc;float: left;margin-top: 5px;}
.sortTxt{width: 68px;line-height: 23px;float: left;text-align: center;}
.sortBtn{width: 48px;height: 23px;display: block;float: left;background: #ffffff;border-left: 1px solid #cccccc;color: #343434;line-height: 23px;}
.PriceBtnBox{width: 8px;height: 10px;display: inline-block;overflow: hidden;}
.PriceBtnBox img{width: 8px;height: 4px;float: left;}
.setPriceBox{width: 108px;height: 23px;border: 1px solid #cccccc;float: left;margin: 5px 0 0 10px;}
.setPriceBox input{width: 42px;height: 23px;background: #ffffff;line-height: 23px;border:none;outline: none;float: left;padding-left: 6px;}
.goodCenterBox,.goodCenterBox1{width: 1025px;margin: 0 auto;overflow: hidden;}
.goodCenterIco{width: 180px;float: left;margin: 10px 25px 10px 0;}
.goodCenterIcoLinkImg{width: 100%;display: block;}
.goodCenterIcoLinkImg img{width: 100%;}
.goodCenterBtnBox{width: 100%;height: 34px;}
.goodCenterBtnBox p{width: 14px;height: 14px;margin-top: 10px;cursor: pointer;}
.goodCenterBtnLeft{background: url(../img/fwqrg.png) no-repeat;float: left;}
.goodCenterBtnRight{background: url(../img/fergn.png) no-repeat;float: right;}
.goodCenterImgBox{width: 142px;height: 34px;float: left;margin: 0 auto;position: relative;margin-left: 3px;overflow: hidden;}
.goodCenterImg{height: 34px;position: absolute;left: 0px;top: 0px;overflow: hidden;}
.thumbnailImg{width: 30px;height: 30px;cursor: pointer;border: 1px solid #ffffff;}
.Original{width: 32px;height: 32px;border: 1px solid #cccccc;float: left;margin-left: 2px;}
.goodCenterPrice{width: 100%;color: #c80b1a;font-size: 16px;font-weight: bold;}
.goodName{display: block;width: 100%;font-size: 12px;color: #4d4d4d;}
.goodPageBox{width: 100%;height: 29px;margin: 36px auto 0;overflow: hidden;}
.goodPageUl{font-size: 13px;float: right;overflow: hidden;}
.goodPageUl li{color: #dadada;border: 1px solid #cccccc;cursor: pointer;border-radius: 3px;line-height: 27px;padding: 0 11px;float: left;margin-right: 4px;}
.goodPageUl .goodPageClick{border: 1px solid #ffffff;color: #ff6600;}
.pageAll{float: right;font-size: 12px;color: #666666;line-height: 29px;}
.pageIptBox{float: right;line-height: 29px;color: #666666;font-size: 12px;}
.pageIpt{width: 38px;height: 23px;border: 1px solid #aaaaaa;text-align: center;line-height: 23px;}
.goodPageBtn{width: 51px;height: 23px;border: 1px solid #e0e0e0;background: #ededed;text-align: center;line-height: 23px;float: right;border-radius: 3px;margin: 2px 0 0 14px;}
.recommendOutBox{width: 1000px;margin: 0 auto;}
.OriginalColor{border: 1px solid #ff3356;}
.seniorBox{width: 880px;float: right;}
.seniorKind{line-height: 20px;padding-left: 5px;padding-right: 5px;font-size: 12px;color: #808080;float: left;border:1px solid #e6e6e6;cursor: pointer;margin: 6px 0 3px 20px;position: relative;}
.seniorCenterOutG{width: 998px;background: #ffffff;z-index: 1;border: 1px solid #ff3356;display: none;}
.seniorCenterBox{width: 100%;font-size: 12px;}
.seniorCenterLeft{width: 880px;float: left;}
.cbIptLink{display: block;float: left;line-height: 30px;padding-left: 3px;padding-right: 10px;color: #808080;}
.cbIpt{width: 14px;height: 14px;border: 1px solid #ffffff;float: left;margin: 7px 3px 0 3px;font-size: 12px;line-height: 14px;text-align: center;color: #ff3356;}
.typeCenterBox1{width: 100%;position: relative;}
.Multiselect{float: right;font-size: 12px;color: #808080;width: 50px;line-height: 20px;border: 1px solid #808080;text-align: center;margin: 5px 5px 0 0;cursor: pointer;}
.seniorBtnBox{width: 200px;height: 30px;margin: 20px auto;display: none;}
.seniorBtnBox button{width: 95px;line-height: 20px;text-align: center;font-size: 12px;color: #fff;border: none;}
.seniorBtnLeft{background: #ff3356;}
.seniorBtnRight{background: #2dbdf2;}
.seniorKindHover{border: 1px solid #ff3356;border-bottom: 1px solid #ffffff;}
.seniorBOX{width: 100px;position: absolute;left: 0px;top: 27px;}
.cbIptBorder{border: 1px solid #ccc;}
.cbIptBorderm{border: 1px solid #ff3356;}
.PriceHide{width: 108px;height: 30px;background:#ffffff;position: absolute;left: -1px;top: 24px;border: 1px solid #cccccc;border-top: none;display: none;}
.PriceHide a{display: block;width: 50px;height: 20px;font-size: 12px;color: #fff;text-align: center;line-height: 20px;margin-top: 5px;}
.PriceCancel{float: left;background: #ff3356;margin-left: 2px;}
.PriceDetermine{float: right;background: #2dbdf2;margin-right: 2px;}
.setPriceBoxPost{position: relative;}
.inputSearch{width: 15px;height: 15px;border: none;position: absolute;left: 256px;top: 13px;background: #ffffff;}
.wordsColor{color: #ff3356;}