*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: Microsoft YaHei,Hiragino Sans GB;
}
html,body{
	width: 100%;
	height: 100%;
}
img{
	border: none;
}
.outBox{
	width: 100%;
	background: #f1f1f1;;
}
.navigation{
	width: 1210px;
	height: 36px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 36px;
}
.navigationLi1{
	margin-left: 10px;
	width: 200px;
	height: 36px;
    float: left;
    text-align: left;
}
.navigationLi1 a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
}
.navigationLi2{
	margin-left: 10px;
	width: 100px;
	height: 36px;
    float: left;
    text-align: left;
}
.navigationLi2 a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
}
.nbkBox{
	width: 100%;
	height: 106px;
	background: #e45050;
}
.nbkCenterBox{
	margin: 0 auto;
	width: 1210px;
	height: 106px;
    font-size: 16px;
}
.nbkCenterBox img{
	display: block;
	float: left;
	margin-top:22px;
}
.nbkCenterBox a{
	color: #ffffff;
	line-height: 106px;
	display: block;
	float: left;
}
.nbkHpage{
	width: 100px;
	margin-left: 70px;
}
.as{
	width: 100px;
}
.news{
	width: 100px;
	float: left;
}
.nbkIpt{
	width: 210px;
	height: 32px;
	background: #fff;
	font-size: 20px;
	line-height: 32px;
	border: none;
	display: block;
	float: left;
	margin: 33px 0 0 165px;
}
.nbkBtn{
	width: 80px;
	height: 32px;
	background: #f7f7f7;
	text-align: center;
	line-height: 32px;
	color: #232323;
	font-size: 16px;
	float: left;
	display: block;
	border: none;
	margin-top: 33px;
	cursor: pointer;
}
.centerBox{
	width: 1210px;
	margin: 35px auto 0;
}
.centerLeftBox{
	width: 120px;
	float: left;
}
.citUl{
	width: 100%;
	margin-bottom: 30px;
}
.citUl li{
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: left;
	font-size: 12px;
}
.citIco{
	background: #e4e4e4;
}
.citIco1{
	font-weight: bold;
	color: #000000;
}
.citIco2{
	margin-top: 5px;
	cursor: pointer;
}
.citIco2:hover{
	background: #e4e4e4;
}
.citIco2 a,.citIco3 a{
	color: #333333;
}
.citIco3{
	font-weight: bold;
	margin: 5px 0;
}
.centerRightBox{
	width: 1088px;
	float: left;
}
.pageBgc1{
	width: 5px;
	height: 9px;
	background: url(../images/bg_hotsale.gif) -74px -608px no-repeat;
	float: left;
	margin: 8px 0 0 5px;
}
.pageBgc2{
	width: 5px;
	height: 9px;
	background: url(../images/bg_hotsale.gif) -80px -608px no-repeat;
	float: left;
	margin: 8px 0 0 8px;
}
.pageIco2{
	width: 34px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	color: #ff6600;
	float: right;
}
.footerBox{
	width: 100%;
	height: 134px;
	background: #fff;
}
.footerNgtUl{
	margin-top: 30px;
    border-top: 1px #f3f3f3 solid;
    line-height: 60px;
    width: 960px;
    margin: auto;
    color: #767677;
    font-size: 12px;
    text-align: center;
}
.footerNgtUl a{
	color: #333;
}
.footerTxt{
	width: 100%;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
}
.mothWinBox{
	width: 150px;
	background: #fff;
	position: absolute;
	left: -1px;
	top: -1px;
	display: none;
	border: 1px solid #e4e4e4;
	z-index: 500;
}
.mothWinBox a{
	color: #333;
}
.mothWinIco1,.mothWinIco{
	overflow: hidden;
}
.mothWinTxt{
	margin-left:22px;
}
.mothWinIco1 i{
	margin-left: 20px;
	cursor: pointer;
}
.mothWinIco:hover{
	background: #e4e4e4;
}
.delectBn{
	width: 15px;
	height: 15px;
	float: right;
	background: url(../images/jhojo.png) -23px -132px no-repeat;
	margin: 9px 10px 0 0;
	display: none;
}
.delectBn:hover{
	background: url(../images/jhojo.png) 0px -132px no-repeat;
}
.odtOut{
	width: 1048px;
    margin: 0 auto;
    position: relative;
}
.userWin{
	width: 230px;
    height: 100px;
    background: #fff;
    border: 1px solid #e4e4e4;
    position: absolute;
    left: 375px;
    top: 44px;
    font-size: 12px;
    display: none;
}
.couponBox{
	width: 100%;
	height: 61px;
	background: #fff;
	font-size: 12px;
	line-height: 61px;
}
.couponTxt{
	float: left;
	margin-left: 20px;
	color: #666666;
	font-weight: bold;
}
.getCouponBox{
	display: block;
	width: 125px;
	height: 61px;
	float: right;
	line-height: 61px;
}
.getCouponBox b{
	display: block;
	width: 15px;
	height: 15px;
	background: url(../images/sprite-icon.png) 0px 0px no-repeat;
	margin-top: 23px;
	float: left;
	margin-left: 15px;
}
.getCouponTxt{
	float: right;
	margin-right: 10px;
	color: #005ea7;
}
.couponCenterBox{
	width: 100%;
	margin: 20px auto;
	background: #fff;
	font-size: 12px;
	overflow: hidden;
}
.evaluateBox{
	width: 1088px;
	margin: 20px auto 0;
	background: #fff;
	overflow: hidden;
}
.evaluateUl{
	width: 100%;
	height: 25px;
	margin: 17px 0 0 20px;
}
.evaluateUl li{
	float: left;
	text-align: center;
	font-size: 12px;
}
.eltIco1{
	width: 66px;
	height: 15px;
	margin-top: 8px;
	line-height: 15px;
	border-bottom: 2px solid #e4393c;
}
.eltIco2{
	width: 66px;
	height: 15px;
	margin-top: 8px;
	line-height: 15px;
	margin-left: 20px;
}
.eltIco2 a{
    color: #333333;
}
.eltIco2 a:hover{
	color: #e4393c;
}
.eltIcoC{
	display: block;
	width: 100%;
	height: 100%;
	color: #e4393c;
}
.num{
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 15px;
	background: #e4393c;
	color: #fff;
	border-radius: 50%;
	margin-top: 3px;
}
.table1{
	margin: 20px auto;
	text-align: center;
	color: #666666;
	font-size: 12px;
}
.td1,.td2,.td3,.td4{
	width: 589px;
	height: 34px;
	background: #f5f5f5;
	text-align: center;
}
.td1{
	width: 589px;
}
.td2{
	width: 115px;
}
.td3{
	width: 110px;
}
.td4{
	width: 234px;
}
.td5{
	line-height: 30px;
}
.td5,.td6,.td7,.td8{
	border-bottom: 1px solid #e4e4e4;
}
.td8 a{
	color: #e4393c;
}
.maskBox{
	width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(227,227,227,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.maskOut{
	width: 600px;
	height: 400px;
	border: 1px solid #1456ad;
	margin: 400px auto;
	background: #fff;
}
.maskHead{
	height: 33px;
	background: #186cbc;
	line-height: 33px;
	overflow: hidden;
	font-size: 12px;
	color: #fff;
}
.maskHeadTxt{
	float: left;
	margin-left: 18px;
}
.maskHeadDelect{
	float: right;
	font-size: 20px;
	margin-right: 10px;
	cursor: pointer;
}
.textareaBox{
	width: 550px;
	height: 280px;
	margin: 10px auto 0;
	border: 1px solid #e4e4e4;
	overflow: hidden;
}
.textarea1{
	width: 100%;
	height: 100%;
}
.btnBox{
	width: 100%;
	height: 33px;
	margin-top: 15px;
}
.submitBtn{
	display: inline-block;
	width: 60px;
	height: 33px;
	background: #1a79c6;
	text-align: center;
	line-height: 33px;
	color: #fff;
	font-size: 12px;
	float: left;
	margin-left: 400px;
}
.button1{
	display: block;
	width: 60px;
	height: 33px;
	display: block;
	width: 60px;
	height: 33px;
	background: #1a79c6;
	text-align: center;
	line-height: 33px;
	color: #fff;
	border: none;
	float: left;
	margin-left: 50px;
	cursor: pointer;
}
.td5 a{color: #666666;}