*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	-webkit-padding-start: 0px;
	font-family: "Microsoft YaHei";
}
html,body{
	width: 100%;
}
img{
	border: none;
}
.navigationBox{
	width: 1244px;
	margin: 0 auto;
	overflow: hidden;
}
.navigationLeft{
	width: 227px;
	display: block;
	margin: 18px 0;
	float: left;
	display:inline;
}
.navigationRight{
	width: 430px;
	margin: 18px 0;
	float: right;
	display:inline;
}
.up{
	width: 391px;
	overflow: hidden;
	margin-left: 43px;
}
.up li{
	float: left;
	font-size: 12px;
	color: #c9c9c9;
}
.up li a{
	display: block;
	/*width: 100%;*/
}
.navigationLi1{
	width: 108px;
	background: url(../indexImg/link-mobile.png) no-repeat;
}
.navigationLi1 a{
	display: block;
	/*width: 100%;*/
	width: 60px;
	background-size: 100% 100%;
	padding-left: 17px;
	color: #f05b21;
}
.navigationLi1 a:hover{
	text-decoration: underline;
}
.navigationLi2{
	width: 60px;
}
.navigationLi2 a{
	text-align: center;
	color: #000;
}
.navigationLi2 a:hover{
	text-decoration: underline;
}
.navigationLi3{
	width: 113px;
}
.navigationLi3 a{
    color: #808080;
    text-align: center;
}
.naviogationLi4{
	width: 36px;
}
.naviogationLi5{
	width: 62px;
}
.naviogationLi4 a,.naviogationLi5 a{
	color: #656565;
}
.naviogationLi4 a:hover{
	text-decoration: underline;
}
.naviogationLi5 a:hover{
	text-decoration: underline;
}
.down{
	width: 416px;
	margin: 7px 0 -17px 0;
	overflow: hidden;
	display: inline-block;
}
.option1{
	width: 104px;
	float: left;
}
.option2{
	width: 92px;
	float: left;
}
.option3{
	width: 80px;
	float: left;
}
.option4{
	width: 92px;
	float: left;
}
.option2,.option3,.option4{
	margin-left: 16px;
	display: inline-block;
}
.down li a{
	display: block;
	width: 100%;
	overflow: hidden;
	color: #333;
}
.down li a p{
	width: 38px;
	height: 38px;
	border: 1px solid #efefef;
	border-radius: 50%;
	float: left;
}
.option1 a p{
    background: url(../indexImg/links-2015.png);
}
.option2 a p{
    background: url(../indexImg/links-2015.png) no-repeat 0 -40px;
}
.option3 a p{
    background: url(../indexImg/links-2015.png) no-repeat 0 -80px;
}
.option4 a p{
    background: url(../indexImg/links-2015.png) no-repeat 0 -120px;
}
.down li a span{
	display: block;
	float: right;
	line-height: 40px;
	font-size: 12px;
}
.navigationOption{
	width: 100%;
	background: #409ee4;
}
.navigationOptionBox{
	width: 1260px;
	margin: 0 auto;
	overflow: hidden;
}
.navigationOptionBox li{
	float: left;
	line-height: 33px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.ico1{
	width: 66px;
	background: #2f8dcc;
}
.ico2{
	width: 115px;
}
.ico3{
	width: 140px;
}
.outBox{
	width: 100%;
	background: #f3f3f3;
	margin: 0 auto;
	overflow: hidden;
}
.centerBox{
	width: 1260px;
	margin: 10px auto 0;
	/*display: inline-block;*/
	overflow: hidden;
}
.centerLeftBox{
	width: 200px;
	float: left;
}
.menuBox{
	width: 200px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
}
.menuLeft{
	width: 90px;
	overflow: hidden;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.menuLeft p{
	float: left;
	width: 17px;
	height: 16px;
	background: url(../indexImg/icon-left.png) no-repeat;
}
.menuLeft span{
	float: right;
	display: block;
	font-size: 16px;
	line-height: 14px;
	overflow: hidden;
	color: #333;
}
.menuRight{
	width: 12px;
	height: 12px;
	float: right;
	background: url(../indexImg/icon-left.png) no-repeat -50px 0;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 20px;
}
.menuTxt{
	display: block;
	width: 200px;
	margin-top: 37px;
	line-height: 50px;
	text-align: center;
	color: #333;
	font-size: 12px;
}
.downMenuBox{
	width: 200px;
	margin-top: 10px;
	background: #fff;
	overflow: hidden;
}
.myShop,.cm,.om,.promotion,.ar,.myDistribution,.ass,.sm,.am,.vas,.mm{
	margin: 0 auto;
	width: 136px;
	font-size: 14px;
	padding-left: 22px;
	color: #333;
	margin-top: 15px;
	background: url(../indexImg/icon-left.png) no-repeat 0 -22px;
	line-height: 28px;
	cursor: pointer;
}
.downMenuBox .hover{
	background: url(../indexImg/icon-left.png) no-repeat 0 -50px;
	color: #3b98e2;

}
.end{
	width: 136px;
	height: 15px;
}
.MenuCenter{
	width: 160px;
	margin: 0 auto;
	overflow: hidden;
	display: none;
}
.MenuCenter li{
	width: 160px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	cursor: pointer;
	padding-left: 40px;
	margin-top: 10px;
}
.shopManagement{
	background: #f3f3f3;
}
.newAddLink {
    color: #48a7e7 !important;
}
.MenuCenter li a{
	color: #333333;
}
.MenuCenter li:hover{
	background: #f3f3f3;
}
.MenuCenter a li:hover{
	color: #48a7e7;
}
.centerRinghtBox{
	width: 1050px;
	float: right;
}
.centerRinghtHead{
	width: 1050px;
	height: 34px;
	background: #fff;
	font-size: 12px;
	line-height: 34px;
	color: #666;
	padding-left: 15px;
}
.headLeft{
	width: 500px;
}
.headLink1,.headLink2{
	color: #666;
}
.headLink1:hover,.headLink2:hover{
	color: #48a7e7;
}
.endLocation{
	color: #999999;
}
.centerRightOut{
	width: 1050px;
	height: 1133px;
	margin: 1px auto 0;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.cnterRinghtCenter{
	width: 1010px;
	margin: 28px auto 10px;
	border-top: 2px solid #7c7c7e;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}
.navigationRinghtBox{
	width: 1008px;
	height: 36px;
	border-bottom: 1px solid #dedede;
}
.cnterRinghtNavigation{
	width: 1008px;
	height: 37px;
	overflow: hidden;
	border-bottom: 1px solid #dedede;
}
.cnterRinghtNavigation li{
	font-size: 16px;
	text-align: center;
	float: left;
}
.cnterRinghtNavigation a{
	color: #333333;
}
.cnterRinghtNavigation .merchantInformation a:hover{
	border-bottom: 1px solid #3690df;
}
.cnterRinghtNavigation a:hover{
	border-bottom: 1px solid #333333;
}
.merchantInformation{
	width: 94px;
	height: 39px;
	line-height: 41px;
	text-align: center;
	border-top: 4px solid #48a7e7;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	background: #fff;
	position: absolute;
	left: 233px;
	top: 25px;
}
.merchantInformation a{
	color: #3690df;
}
.Qualification{
	width: 94px;
	height: 36px;
	line-height: 39px;
	margin-left: 26px;
}.bq{
	width: 94px;
	height: 36px;
	line-height: 39px;
}
.table1Out{
	width: 1008px;
	border-bottom: 1px dashed #c4c4c4;
}
.table1Tittle{
	margin: 27px 0 0 20px;
	width: 201px;
	overflow: hidden;
}
.table1Tittle h3{
	font-size: 14px;
	width: 58px;
	float: left;
}
#MenuCenter {
    display: block;
}
.theMain{
	margin-left: 32px;
	width: 51px;
	color: #999;
	font-size: 12px;
	float: left;
}
.underwear{
	font-size: 12px;
	color: #333333;
	width: 48px;
	float: right;
}
.table1Box{
	margin: 21px auto 0;
	width: 968px;
	background: #f5f5f5;
}
.table1Head{
	width: 968px;
	height: 32px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.table1Head li{
	color: #50545b;
	font-size: 12px;
	text-align: center;
	line-height: 32px;
	border-left: 1px solid #e4e4e4;
	float: left;
}
.table1Li1,.tableCenterLi1{
	width: 100px;
}
.table1Li2,.tableCenterLi2{
	width: 220px;
}
.table1Li3,.tableCenterLi3{
	width: 169px;
}
.table1Li4,.tableCenterLi4{
	width: 309px;
}
.table1Li5{
	width: 165px;
}
.tableCenter .tableCenterLi5,.tableCenter1 .tableCenterLi5{
	width: 95px;
	text-align: center;
	color: #6a990a;
	padding-left: 0;
}
.table1CentrBox{
	width: 966px;
	margin: 0 auto;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	position: relative;
	margin-bottom: 20px;
}
.tableCenter,.tableCenter1{
	width: 966px;
	overflow: hidden;
	background: #fff;
}
.tableCenter1{
	background: #fafafa;
}
.tableImg{
	position: absolute;
	top: 0;
	right: 0;
}
.tableCenter li,.tableCenter1 li{
	float: left;
	line-height: 38px;
	padding-left: 10px;
	color: #50545b;
	overflow: hidden;
	font-size: 12px;
}
.storeType{
	width: 1008px;
    border-bottom: 1px dashed #c4c4c4;
}
.storeType h3{
	margin: 27px 0 0 20px;
	font-size: 14px;
    width: 58px;
    display: inline-block;
}
.storeType p{
	padding-left: 118px;
	font-size: 12px;
	color: #666666;
	line-height: 86px;
}
.qualifications{
	width: 1008px;
}
.qualificationsTittle{
	width: 160px;
	overflow: hidden;
	margin: 22px 0 0 20px;
	overflow: hidden;
}
.qualificationsTittle h3{
	width: 90px;
	font-size: 14px;
	float: left
}
.modify{
	display: block;
	width: 40px;
	height: 15px;
	float: right;
	overflow: hidden;
}
.modify p{
	width: 13px;
	height: 13px;
	background: url(../indexImg/btn-modify.png) no-repeat;
	float: left;
}
.modify span{
	display: block;
	color: #48a7e7;
	font-size: 12px;
	float: right;
}
.table2Box{
	width: 966px;
	margin: 20px auto;
	border: 1px solid #e4e4e4;
}
#table2Tittle{
	width: 964px;
	background: #f5f5f5;
	overflow: hidden;
	border-bottom: 1px solid #e4e4e4;
}
#table2Tittle li{
	font-size: 12px;
	color: #50545b;
	text-align: center;
	float: left;
	height: 32px;
	line-height: 32px; 
}
.table2TittleLi1{
	width: 156px;
}
.table2TittleLi2{
	width: 194px;
	border-left: 1px solid #e4e4e4;
}
.table2TittleLi3{
	width: 356px;
	border-left: 1px solid #e4e4e4;
}
.table2TittleLi4{
	width: 255px;
	border-left: 1px solid #e4e4e4;
}
#tabble2Cnter{
	width: 964px;
	overflow: hidden;
}
#tabble2CnterLi1,#tabble2CnterLi2{
	line-height: 138px;
	font-size: 12px;
	color: #50545b;
	padding-left: 2px;
}
#tabble2CnterLi1{
    width: 157px;
    float: left;
}
#tabble2CnterLi2{
	width: 195px;
	float: left;
}
.tabble2CnterLi3{
	width: 357px;
	float: left;
}
.tabble2CnterLi4{
	width: 251px;
	line-height: 138px;
	font-size: 12px;
	color: #50545b;
	text-align: center;
	float: left;
}
.photo{
	margin: 3px 0 0 2px;
	width: 160px;
	overflow: hidden;
	font-size: 12px;
}
.photo p{
	width: 60px;
	float: left;
	color: #50545b;
}
.photo a{
	width: 25px;
	float: left;
	margin-left: 25px;
	color: #48a7e7;
}
.footer{
	width: 100%;
	height: 220px;
	background: #f3f3f3;
	overflow: hidden;
}
.footerNavigation{
	width: 790px;
	overflow: hidden;
	font-size: 12px;
	margin: 23px auto 0;
}
.footerNavigation li,.footerIco{
	width: 70px;
	float: left;
	text-align: center;
	line-height: 12px;
}
.footerNavigation a{
	color: #666; 
}
.footerIco{
	border-left: 1px solid #666;
}
#footerIco1{
	width: 80px;
	float: left;
	text-align: center;
	line-height: 10px;
	width: 80px;border-left: 1px solid #666;
	height: 13px;
}
.footerNavigation a:hover{
	color: #e4393c;
	text-decoration: underline;
}
.footerTxt1{
	text-align: center;
	margin-top: 16px;
	font-size: 12px;
	color: #666;
}
.footerTxt2{
	text-align: center;
	font-size: 12px;
	color: #666;
	padding-top: 4px;
}
.footerTxt2 a{
	color: #666;
	line-height: 13px;
}
.footerTxt2 a:hover{
	color: #e4393c;
	text-decoration: underline;
}
.footerImgBox{
	width: 469px;
	margin: 13px auto 0;
	overflow: hidden;
}
.footerImg1,.footerImg2{
	float: left;
}
.footerImg2{
	padding-left: 10px;
}
.footerImg3{
	float: right;
}
.photo .delectBtn{
	width: 25px;
	display: block;
	float: left;
	color: #ff4400;
	font-size: 12px;
	display: none;
}
.delectBtn:hover{
	text-decoration: underline;
}
.form{
    width: 50px;
    height: 26px;
    float: left;
}
.UploadRequest{
    width: 730px;
    height: 25px;
    line-height: 25px;
    float: left;
    font-size: 12px;
    color: #ff4400;
}
.clear{
    clear: both;
}
.ehdel_upload{
    width: 48px;
    float: left;
    margin-top: -20px;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}
.ehdel_upload_show input {
    float: left;
    margin-top: 2px;
    line-height: 10px;
}
.ipt, .ipt1 {
    float: left;
    margin-top: 10px;
    width: 48px;
    height: 24px;
    line-height: 30px;
    background: white;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}
input {
    outline: none;
}
.uploadBox{
	overflow: hidden;
	width: 800px;
	margin: 20px auto;
	display: none;
}
.table3Box{
	width: 500px;
	margin: 35px 0 10px 30px;
	display: none;
}
.table3Box li{
	font-size: 12px;
	color: #f7a750;
}
.btnBox{
	width: 135px;
	height: 30px;
	margin: 0px 0px 45px 20px;
	display: none;
}
.btnLeft{
	display: inline-block;
	width: 78px;
	height: 28px;
	background: #48a7e7;
	color: #fff;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	border-radius: 5px;
}
.btnRight{
	width: 50px;
	height: 28px;
	display: inline-block;
	border: 1px solid #cccccc;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	color: #333;
	border-radius: 5px;
}
.calendar{
	display: none;
	width: 251px;
    float: right;
}
#checkTxt{
	width: 25px;
	height: 16px;
	width: 24px;
	display: inline-block;
	color: #333;
	font-size: 12px;
	float: right;
	margin: 69px 45px 0 0;
}
#calendarIpt{
	margin: 65px 0 0 23px;
	width: 129px;
	height: 30px;
	border: 1px solid #f6c693;
	padding-left: 5px;
	font-size: 12px;
	line-height: 30px;
	background: url(../indexImg/icon-cal.png) no-repeat 10px 5px;
}

.navigationOptionBox li a {
    color: #fff;
}