*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
.positionBox{
	font-size: 12px;
	line-height: 30px;
	color: #333333;
}
.positionBox a{
	color: #333333;
}
.centerBox{
	width: 1038px;
	background: #f4f6f9;
	border: 1px solid #e4e4e4;
	margin-left: 10px;
}
.centerHeadTxt{
	width: 1008px;
	height: 33px;
	font-size: 12px;
	font-weight: bold;
	line-height: 33px;
	border-bottom: 1px dashed #cccccc;
	margin: 0 auto;
}
.navigationUl{
	width: 1038px;
	font-size: 12px;
	color: #50545b;
}
.navigationLi{
	width: 346px;
	float: left;
	text-align: center;
	line-height: 56px;
}
.rctBox{
	width: 1006px;
	margin: 0 auto;
	border: 1px solid #e4e4e4;
}
.rctHeadBox{
	width: 100%;
	background: #ccccff;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px dashed #e4e4e4;
}
.table1{
	margin: 0 auto;
	font-size: 12px;
	line-height: 20px;
	background: #fff;
}
.td1{
	width: 151px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px dashed #e4e4e4;
}
.td2{
	width: 858px;
	text-align: left;
	border-bottom: 1px dashed #e4e4e4;
}
.btnBox{
	height: 82px;
	border-top: 1px dashed #e4e4e4;
	margin: 20px auto 0px;
	line-height: 82px;
}
.closeBtn{
	display: block;
	width: 62px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 12px;
	background: #1977c4;
	border: none;
	cursor: pointer;
	color: #fff;
	margin-top: 20px;
}