.logistics {
    margin: 13px auto 0;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ff6c00;
}
.libraryHeadTd1 {
    width: 92px;
}
.libraryHeadTd2 {
    width: 734px;
    text-align: left;
}
select, textarea {
    outline: none;
    border: 1px solid #d9d9d9;
    font-size: 12px;
}
.tableIpt {
    width: 150px;
    height: 22px;
    background: #fff;
    border: 1px solid #cbcbcb;
    padding-left: 5px;
}
input {
    outline: none;
    border: 1px solid #d9d9d9;
    font-size: 12px;
}
.increaseColor {
    color: #ff0000;
    cursor: pointer;
}
.increaseColor1 {
    display: none;
    cursor: pointer;
}
.increaseTxt {
    color: #ff0000;
}
.tableSele {
    width: 150px;
    height: 20px;
    border: 1px solid #cbcbcb;
}
.libraryHeadTd1 {
    width: 92px;
}
.libraryHeadTd2 {
    width: 734px;
    text-align: left;
}
.chargeIpt{
	width: 197px;
	height: 28px;
	border: 1px solid #cccccc;
	font-size: 12px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.btnBox{
	width: 120px;
	height: 25px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 25px;
}
.btnBox a{
	display: block;
	width: 52px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	color: #323333;
}
.submitBtn{
    background: #eef7e6;
    border: 1px solid #bfd6af;
    float: left;
}
.cancelrBtn{
	background: #f5f5f5;
	border: 1px solid #dddddd;
	float: right;
}