*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	-webkit-padding-start: 0px;
	font-family: "Microsoft YaHei";
}
img{
	border: none;
}
html,body{
	width: 100%;
}
input{
	outline: none;
	border: 1px solid #d9d9d9;
	font-size: 12px;
}
select,textarea{
	outline: none;
	border: 1px solid #d9d9d9;
	font-size: 12px;
}
.navigationBox{
	width: 1244px;
	margin: 0 auto;
	overflow: hidden;
}
.navigationLeft{
	width: 227px;
	display: block;
	margin: 18px 0;
	float: left;
	display:inline;
}
.navigationRight{
	width: 430px;
	margin: 18px 0;
	float: right;
	display:inline;
}
.up{
	width: 391px;
	overflow: hidden;
	margin-left: 43px;
}
.up li{
	float: left;
	font-size: 12px;
	color: #c9c9c9;
}
.up li a{
	display: block;
	/*width: 100%;*/
}
.navigationLi1{
	width: 108px;
	background: url(../indexImg/link-mobile.png) no-repeat;
}
.navigationLi1 a{
	display: block;
	/*width: 100%;*/
	width: 60px;
	background-size: 100% 100%;
	padding-left: 17px;
	color: #f05b21;
}
.navigationLi1 a:hover{
	text-decoration: underline;
}
.navigationLi2{
	width: 60px;
}
.navigationLi2 a{
	text-align: center;
	color: #000;
}
.navigationLi2 a:hover{
	text-decoration: underline;
}
.navigationLi3{
	width: 113px;
}
.navigationLi3 a{
    color: #808080;
    text-align: center;
}
.naviogationLi4{
	width: 36px;
}
.naviogationLi5{
	width: 62px;
}
.naviogationLi4 a,.naviogationLi5 a{
	color: #656565;
}
.naviogationLi4 a:hover{
	text-decoration: underline;
}
.naviogationLi5 a:hover{
	text-decoration: underline;
}
.down{
	width: 416px;
	margin: 7px 0 -17px 0;
	overflow: hidden;
	display: inline-block;
}
.option1{
	width: 104px;
	float: left;
}
.option2{
	width: 92px;
	float: left;
}
.option3{
	width: 80px;
	float: left;
}
.option4{
	width: 92px;
	float: left;
}
.option2,.option3,.option4{
	margin-left: 16px;
	display: inline-block;
}
.down li a{
	display: block;
	width: 100%;
	overflow: hidden;
	color: #333;
}
.down li a p{
	width: 38px;
	height: 38px;
	border: 1px solid #efefef;
	border-radius: 50%;
	float: left;
}
.option1 a p{
    background: url(../indexImg/links-2015.png);
}
.option2 a p{
    background: url(../indexImg/links-2015.png) no-repeat 0 -40px;
}
.option3 a p{
    background: url(../indexImg/links-2015.png) no-repeat 0 -80px;
}
.option4 a p{
    background: url(../indexImg/links-2015.png) no-repeat 0 -120px;
}
.down li a span{
	display: block;
	float: right;
	line-height: 40px;
	font-size: 12px;
}
.navigationOption{
	width: 100%;
	background: #409ee4;
}
.navigationOptionBox{
	width: 1260px;
	margin: 0 auto;
	overflow: hidden;
}
.navigationOptionBox li{
	float: left;
	line-height: 33px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.ico1{
	width: 66px;
	background: #2f8dcc;
}
.ico2{
	width: 115px;
}
.ico3{
	width: 140px;
}
.outBox{
	width: 100%;
	background: #f3f3f3;
	margin: 0 auto;
	overflow: hidden;
}
.centerBox{
	width: 1260px;
	margin: 10px auto 0;
	/*display: inline-block;*/
	overflow: hidden;
}
.centerLeftBox{
	width: 200px;
	float: left;
}
.menuBox{
	width: 200px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
}
.menuLeft{
	width: 90px;
	overflow: hidden;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.menuLeft p{
	float: left;
	width: 17px;
	height: 16px;
	background: url(../indexImg/icon-left.png) no-repeat;
}
.menuLeft span{
	float: right;
	display: block;
	font-size: 16px;
	line-height: 14px;
	overflow: hidden;
	color: #333;
}
.menuRight{
	width: 12px;
	height: 12px;
	float: right;
	background: url(../indexImg/icon-left.png) no-repeat -50px 0;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 20px;
}
.menuTxt{
	display: block;
	width: 200px;
	margin-top: 37px;
	line-height: 50px;
	text-align: center;
	color: #333;
	font-size: 12px;
}
.downMenuBox{
	width: 200px;
	margin-top: 10px;
	background: #fff;
	overflow: hidden;
}
.myShop,.cm,.om,.promotion,.ar,.myDistribution,.ass,.sm,.am,.vas,.mm{
	margin: 0 auto;
	width: 136px;
	font-size: 14px;
	padding-left: 22px;
	color: #333;
	margin-top: 15px;
	background: url(../indexImg/icon-left.png) no-repeat 0 -22px;
	line-height: 28px;
	cursor: pointer;
}
.downMenuBox .hover{
	background: url(../indexImg/icon-left.png) no-repeat 0 -50px;
	color: #3b98e2;

}
.end{
	width: 136px;
	height: 15px;
}
.MenuCenter{
	width: 160px;
	margin: 0 auto;
	overflow: hidden;
	display: none;
}
.MenuCenter li{
	width: 160px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	cursor: pointer;
	padding-left: 40px;
	margin-top: 10px;
}
.brandManagement{
	background: #f3f3f3;
}
.brandManagement:hover{
	background: #f3f3f3;
}
.newAddLink {
    color: #48a7e7 !important;
}
.MenuCenter li a{
	color: #333333;
}
.MenuCenter li:hover{
	background: #f3f3f3;
}
.MenuCenter a li:hover{
	color: #48a7e7;
}
.centerRightBox{
	width: 1040px;
	float: right;
}
.addressLink{
	width: 350px;
	font-size: 12px;
	color: #333;
	margin-top: 5px;
}
.myShopLink,.anpLink{
	color: #48a7e7;
}
.myShopLink:hover{
	color: #ff9900;
}
.footer{
	width: 100%;
	height: 220px;
	background: #f3f3f3;
	overflow: hidden;
}
.footerNavigation{
	width: 790px;
	overflow: hidden;
	font-size: 12px;
	margin: 23px auto 0;
}
.footerNavigation li,.footerIco{
	width: 70px;
	float: left;
	text-align: center;
	line-height: 12px;
}
.footerNavigation a{
	color: #666; 
}
.footerIco{
	border-left: 1px solid #666;
}
#footerIco1{
	width: 80px;
	float: left;
	text-align: center;
	line-height: 17px;
	width: 80px;border-left: 1px solid #666;
}
#footerIco1 a{
	color: #666;
	display: block;
	width: 66px;
	height: 17px;
	line-height: 17px;
	margin-left: 5px;
	margin-top: -2px;
}
.footerNavigation a:hover,#footerIco1 a:hover{
	color: #e4393c;
	text-decoration: underline;
}
.footerTxt1{
	text-align: center;
	margin-top: 16px;
	font-size: 12px;
	color: #666;
}
.footerTxt2{
	text-align: center;
	font-size: 12px;
	color: #666;
	padding-top: 4px;
}
.footerTxt2 a{
	color: #666;
	line-height: 13px;
}
.footerTxt2 a:hover{
	color: #e4393c;
	text-decoration: underline;
}
.footerImgBox{
	width: 469px;
	margin: 13px auto 0;
	overflow: hidden;
}
.footerImg1,.footerImg2{
	float: left;
}
.footerImg2{
	padding-left: 10px;
}
.footerImg3{
	float: right;
}
#MenuCenter{
	display: block;
}
.btsBox{
	margin-top: 22px;
	width: 1038px;
	border: 1px solid #e4e4e4;
	background: #f4f6f9;
}
.bciUl{
	width: 300px;
	float: left;
	font-size: 12px;
	color: #50545b;
}
.bciUl li{
	width: 100%;
	height: 24px;
	overflow: hidden;
	margin-top: 15px;
}
.bciUl li p,.bpiLeftTxt{
	width: 93px;
	height: 24px;
	float: left;
	text-align: right;
	line-height: 24px;
}
.bciRightIpt,.bpiRigthIpt1{
	width: 150px;
	height: 22px;
	border: 1px solid #e4e4e4;
	float: left;
	padding-left: 3px;
}
.bpiUl{
	width: 260px;
	float: left;
	font-size: 12px;
	color: #50545b;
}
.bpiLi{
	margin-top: 15px;
	height: 24px;
}
#bpiLi{
	margin-top: 15px;
}
.disSelectUl{
	width: 165px;
	position: absolute;
	border: 1px solid #48a7e7;
	left: 93px;
	top: 24px;
	background: #fff;
	display: none;
}
.disSelectUl li{
	width: 165px;
	height: 24px;
}
.disSelectLiIpt input{
	width: 158px;
	height: 20px;
	border: 1px solid #48a7e7;
	background: url(../indexImg/search_2012-10-17.png) scroll -102px -89px #FFFFFF;
	margin: 1px;
	padding-left: 3px;
}
.disSelectLiTxt{
	color: #333;
	cursor: pointer;
	line-height: 24px;
}
.disSelectLiTxt:hover{
	background: #4196cf;
}
.bpiUl li p{
	float: left;
}
.bpiRigthIpt2{
	width: 62px;
	height: 22px;
	border: 1px solid #e4e4e4;
	float: left;
	padding-left: 3px;
}
.bpiUl select{
	width: 167px;
	height: 24px;
	border: 1px solid #e4e4e4;
	visibility: false;
}
.classificationUl{
	width: 350px;
	float: right;
	margin-right: 30px;
}
.classificationUl li{
	margin-top: 15px;
	overflow: hidden;
	height: 24px;
	font-size: 12px;
}
.cfLeftTxt{
	width: 60px;
	height: 24px;
	line-height: 24px;
	float: left;
	text-align: right;
}
.cfIpt{
	width: 88px;
	height: 24px;
	border: 1px solid #e4e4e4;
	float: left;
	margin-left: 5px;
	color: #333;
}
.cfIpt1{
	width: 126px;
	height: 24px;
	margin-left: 5px;
}
.cfIpt2{
	width: 99px;
	height: 22px;
	border: 1px solid #e4e4e4;
	float: left;
	padding-left: 3px;
}
.lastCf{
	position: relative;
}
.cfbgc1,.cfbgc2{
	width: 23px;
	height: 22px;
	background: url(../indexImg/shop_img.gif)100% -451px no-repeat;
}
.cfbgc1{
    position: absolute;
	left: 138px;
	top: 2px;
}
.cfbgc2{
	position: absolute;
	left: 264px;
	top: 2px;
}
.ulBox{
	width: 100%;
}
.btsBtnBox{
	width: 217px;
	height: 34px;
	margin: 20px auto;
}
.queryBtn{
	width: 92px;
	height: 33px;
	font-size: 12px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	background: #48a7e7;
	border: none;
	font-weight: bold;
}
.querRitghtBtn{
	width: 92px;
	height: 33px;
	font-size: 12px;
	text-align: center;
	line-height: 33px;
	border: 1px solid #c7c7c7;
	font-weight: bold;
	margin-left: 28px;
}
.cifBox{
	margin-top: 22px;
    width: 1038px;
    border: 1px solid #e4e4e4;
    background: #f4f6f9;
}
.cifHeadBox{
	width: 100%;
	height: 41px;
	overflow: hidden;
	color: #808080;
	font-size: 12px;
	line-height: 30px;
}
.cifHeadBox input{
	font-size: 12px;
    vertical-align: middle;
    color: #333;
    line-height: 20px;
}
.anpBtn{
	display: inline-block;
	width: 106px;
	height: 29px;
    background: #86cbfa;
    padding: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 15px;
}
.blfBtn{
	display: inline-block;
	width: 88px;
	height: 28px;
	background: #fff;
	text-align: center;
	font-size: 12px;
	border: 1px solid #e4e4e4;
	color: #333;
	font-weight: bold;
	margin-left: 15px;
}
.cifCenterBox{
	width: 1018px;
	margin: 20px auto 0px;
	border: 1px solid #e4e4e4;
}
.cifCenterHead{
	width: 100%;
	height: 34px;
	background: #e8f2f6;
	line-height: 34px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	position: relative;
}
.cifTxt{
	width: 500px;
	height: 34px;
	float: left;
}
.titTxt{
	width: 55px;
	height: 34px;
	float: left;
	text-align: left;
	cursor: pointer;
}
.titTxtBgc{
	width: 11px;
	height: 10px;
	float: right;
    background: url(../indexImg/5555.png) 0px -61px no-repeat;
    margin-top: 11px;
}
.svTxt{
	width: 80px;
	height: 34px;
	float: left;
	margin-left: 20px;
	text-align: left;
}
.svTxtBgc{
	width: 16px;
	height: 16px;
	background: url(../indexImg/icon-help.png) no-repeat;
	float: right;
	margin: 9px 10px 0 0;
}
.popupBox{
	width: 300px;
	border: 1px solid #faa244;
	position: absolute;
	left: 527px;
	top: 24px;
	background: #f1d0ad;
	font-size: 12px;
	padding-left: 5px;
	line-height: 20px;
	text-align: left;
	z-index: 500;
	font-weight: normal;
	display: none;
}
.newTime{
	width: 90px;
	height: 34px;
	float: left;
	margin-left: 10px;
}
.cs{
	width: 90px;
    height: 34px;
    float: left;
    margin-left: 30px;
}
.newTimeBgc{
	width: 11px;
	height: 10px;
	background: url(../indexImg/5555.png) 0px -15px no-repeat;
	float: right;
	margin-top: 12px;
}
.operationTxt{
	width: 50px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	float: left;
	margin-left: 30px;
}
.cifUl{
	width: 1018px;
}
.cifUl li{
	position: relative;
	border-bottom: 1px dashed #cccccc;
}
.cifLiHead{
	width: 1018px;
	height: 24px;
	font-size: 12px;
	line-height: 24px;
	color: #50545b;
}
.commodityIpt{
	vertical-align: middle;
	margin: 3px 3px 3px 6px;
}
.dataBox{
	width: 1018px;
	overflow: hidden;
	margin-bottom: 52px;
}
.img{
	display: block;
	width: 60px;
	height: 60px;
	border: 1px solid #e2e2e2;
	float: left;
	margin: 9px 0 0 40px;
}
.cdtext{
	width: 296px;
	height: 38px;
	color: #0000ee;
	float: left;
	font-size: 12px;
	margin: 15px 0 0 12px;
}
.saveBgc{
	width: 12px;
	height: 17px;
	background: url(../indexImg/5555.png) 0px -42px no-repeat;
	position: absolute;
	top: 52px;
	left: 388px;
	cursor: pointer;
}
.disdataBox{
	width: 296px;
    height: 38px;
    color: #0000ee;
    font-size: 12px;
    margin: 15px 0 0 12px;
    float: left;
    resize:none;
    display: none;
}
.savabgc1{
	width: 16px;
	height: 16px;
	background: url(../indexImg/5555.png) 0px -72px no-repeat;
	position: absolute;
	top: 60px;
	left: 395px;
	cursor: pointer;
	display: none;
}
.promptTxt1{
	width: 100px;
	font-size: 12px;
	color: red;
	position: absolute;
	top: 78px;
	left: 339px;
	display: none;
}
.titBox{
	width: 60px;
	height: 50px;
	float: left;
	overflow: hidden;
	margin-left: 103px;
}
.titTxt1{
	font-size: 12px;
	line-height: 50px;
	text-align: center;
	float: left;
	color: #f05b21;
}
.titBgc{
	width: 12px;
    height: 17px;
    background: url(../indexImg/5555.png) 0px -42px no-repeat;
    float: left;
    margin: 14px 0 0 5px;
    cursor: pointer;
}
.svNumber{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	float: left;
	margin-left: 8px;
}
.timeTxt{
	width: 60px;
	height: 50px;
	text-align: center;
	font-size: 12px;
	float: left;
	word-wrap: break-word;
	margin-left: 50px;
}
.csTxt{
	width: 60px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	float: left;
	word-wrap: break-word;
	margin-left: 60px;
}
.ModifyGoods{
	width: 60px;
	height: 50px;
	font-size: 12px;
	text-align: center;
	float: left;
	margin-left: 45px;
	line-height: 50px;
	color: #0188cc;
	cursor: pointer;
}
.delect{
	font-size: 12px;
	color: #0188cc;
	overflow: hidden;
}
.delect p{
	width: 50px;
	float: right;
	margin-right: 5px;
}
.disModifyGoods{
	width: 110px;
	position: absolute;
	left: 855px;
	top: 39px;
	background: #fff;
	display: none;
}
.disModifyGoods li{
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: right;
	font-size: 12px;
	border: none;
}
.disModifyGoods li:hover{
	background: #F7C5AA;
}
.disModifyGoods li a{
	color: #0188cc;
	padding-right: 5px;
}
.disModifyGoods li a:hover{
	color: #fff;
}
.pageBox{
	width: 640px;
	height: 36px;
	font-size: 12px;
	line-height: 36px;
	margin-left: 400px;
	margin-top: 10px;
}
.pageBox ul{
	width: 380px;
	overflow: hidden;
	float: left;
}
.pageBox p{
	float: left;
}
.pageBox ul li{
	float: left;
	height: 31px;
	cursor: pointer;
	margin-left: 5px;
}
.page1{
	width: 58px;
	height: 29px;
	text-align: center;
	line-height: 29px;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
}
.page2{
	width: 46px;
	height: 29px;
	border: 1px solid #e1e1e1;
	text-align: center;
	line-height: 29px;
	border-radius: 5px;
}
.page3{
	width: 28px;
	height: 32px;
	color: #48a7e8;
	line-height: 32px;
	text-align: center;
}
.page4{
	width: 28px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
}
.page5{
	width: 28px;
	height: 32px;
	line-height: 32px;
	text-align: center;
}
.pageIpt{
	width: 39px;
	height: 22px;
	border: 1px solid #a9a9a9;
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.sureBtn{
	height: 21px;
	margin-left: 5px;
	margin-top: 7px;
	float: left;
	font-size: 12px;
	line-height: 21px;
}
.popupSizeBox{
	margin-left: 200px;
	width: 230px;
	border: 1px solid #a9a9a9;
	background: #f4f6f9;
	font-size: 12px;
	position: absolute;
	left: 275px;
	top: 40px;
	z-index: 500;
	display: none;
}
.popupSizeBox li{
	width: 100%;
	height: 26px;
	overflow: hidden;
	border: none;
}
.popupCloseBtnLi{
	overflow: hidden;
}
.popupCloseBtn{
	width: 23px;
	height: 13px;
	color: #a9a9a9;
	background: #fff;
	line-height: 10px;
	text-align: center;
	border: 1px solid #a9a9a9;
	float: right;
	cursor: pointer;
	margin: 7px 7px 0 0;
}
.leftName{
	width: 147px;
	height: 26px;
	line-height: 26px;
	text-align: right;
	float: left;
	color: #808080;
}
.totalNumberIpt,.totalNumberIpt1{
	width: 60px;
	height: 24px;
	border: 1px solid #a9a9a9;
	float: left;
	padding-left: 3px;
}
.saveLiBtn{
	text-align: right;
}
.saveLiBtn button{
	color: #333;
	margin-top: 10px;
	margin-right: 18px;
	line-height: 12px;
}
.delect{
	cursor: pointer;
}
.navigationOptionBox li a {
    color: #fff;
}