*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	-webkit-padding-start: 0px;
	font-family: "Microsoft YaHei";
}
img{
	border: none;
}
html,body{
	width: 100%;
}
body{
	position: relative;
}
input{
	outline: none;
	border: 1px solid #d9d9d9;
	font-size: 12px;
}
select,textarea{
	outline: none;
	border: 1px solid #d9d9d9;
	font-size: 12px;
}
.navigationBox{
	width: 1244px;
	margin: 0 auto;
	overflow: hidden;
}
.navigationLeft{
	width: 227px;
	display: block;
	margin: 18px 0;
	float: left;
	display:inline;
}
.navigationRight{
	width: 430px;
	margin: 18px 0;
	float: right;
	display:inline;
}
.up{
	width: 391px;
	overflow: hidden;
	margin-left: 43px;
}
.up li{
	float: left;
	font-size: 12px;
	color: #c9c9c9;
}
.up li a{
	display: block;
	/*width: 100%;*/
}
.navigationLi1{
	width: 108px;
	background: url(../indexImg/link-mobile.png) no-repeat;
}
.navigationLi1 a{
	display: block;
	/*width: 100%;*/
	width: 60px;
	background-size: 100% 100%;
	padding-left: 17px;
	color: #f05b21;
}
.navigationLi1 a:hover{
	text-decoration: underline;
}
.navigationLi2{
	width: 60px;
}
.navigationLi2 a{
	text-align: center;
	color: #000;
}
.navigationLi2 a:hover{
	text-decoration: underline;
}
.navigationLi3{
	width: 113px;
}
.navigationLi3 a{
    color: #808080;
    text-align: center;
}
.naviogationLi4{
	width: 36px;
}
.naviogationLi5{
	width: 62px;
}
.naviogationLi4 a,.naviogationLi5 a{
	color: #656565;
}
.naviogationLi4 a:hover{
	text-decoration: underline;
}
.naviogationLi5 a:hover{
	text-decoration: underline;
}
.down{
	width: 416px;
	margin: 7px 0 -17px 0;
	overflow: hidden;
	display: inline-block;
}
.option1{
	width: 104px;
	float: left;
}
.option2{
	width: 92px;
	float: left;
}
.option3{
	width: 80px;
	float: left;
}
.option4{
	width: 92px;
	float: left;
}
.option2,.option3,.option4{
	margin-left: 16px;
	display: inline-block;
}
.down li a{
	display: block;
	width: 100%;
	overflow: hidden;
	color: #333;
}
.down li a p{
	width: 38px;
	height: 38px;
	border: 1px solid #efefef;
	border-radius: 50%;
	float: left;
}
.option1 a p{
    background: url(../indexImg/links-2015.png);
}
.option2 a p{
    background: url(../indexImg/links-2015.png) no-repeat 0 -40px;
}
.option3 a p{
    background: url(../indexImg/links-2015.png) no-repeat 0 -80px;
}
.option4 a p{
    background: url(../indexImg/links-2015.png) no-repeat 0 -120px;
}
.down li a span{
	display: block;
	float: right;
	line-height: 40px;
	font-size: 12px;
}
.navigationOption{
	width: 100%;
	background: #409ee4;
}
.navigationOptionBox{
	width: 1260px;
	margin: 0 auto;
	overflow: hidden;
}
.navigationOptionBox li{
	float: left;
	line-height: 33px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.ico1{
	width: 66px;
	background: #2f8dcc;
}
.ico2{
	width: 115px;
}
.ico3{
	width: 140px;
}
.outBox{
	width: 100%;
	background: #f3f3f3;
	margin: 0 auto;
	overflow: hidden;
}
.centerBox{
	width: 1260px;
	margin: 10px auto 0;
	/*display: inline-block;*/
	overflow: hidden;
}
.centerLeftBox{
	width: 200px;
	float: left;
}
.menuBox{
	width: 200px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
}
.menuLeft{
	width: 90px;
	overflow: hidden;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.menuLeft p{
	float: left;
	width: 17px;
	height: 16px;
	background: url(../indexImg/icon-left.png) no-repeat;
}
.menuLeft span{
	float: right;
	display: block;
	font-size: 16px;
	line-height: 14px;
	overflow: hidden;
	color: #333;
}
.menuRight{
	width: 12px;
	height: 12px;
	float: right;
	background: url(../indexImg/icon-left.png) no-repeat -50px 0;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 20px;
}
.menuTxt{
	display: block;
	width: 200px;
	margin-top: 37px;
	line-height: 50px;
	text-align: center;
	color: #333;
	font-size: 12px;
}
.downMenuBox{
	width: 200px;
	margin-top: 10px;
	background: #fff;
	overflow: hidden;
}
.myShop,.cm,.om,.promotion,.ar,.myDistribution,.ass,.sm,.am,.vas,.mm{
	margin: 0 auto;
	width: 136px;
	font-size: 14px;
	padding-left: 22px;
	color: #333;
	margin-top: 15px;
	background: url(../indexImg/icon-left.png) no-repeat 0 -22px;
	line-height: 28px;
	cursor: pointer;
}
.downMenuBox .hover{
	background: url(../indexImg/icon-left.png) no-repeat 0 -50px;
	color: #3b98e2;

}
.end{
	width: 136px;
	height: 15px;
}
.MenuCenter{
	width: 160px;
	margin: 0 auto;
	overflow: hidden;
	display: none;
}
.MenuCenter li{
	width: 160px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	cursor: pointer;
	padding-left: 40px;
	margin-top: 10px;
}
.shopManagement{
	background: #f3f3f3;
}
.newAddLink {
    color: #48a7e7 !important;
}
.MenuCenter li a{
	color: #333333;
}
.MenuCenter li:hover{
	background: #f3f3f3;
}
.MenuCenter a li:hover{
	color: #48a7e7;
}
.centerRightBox{
	width: 1040px;
	float: right;
}
.addressLink{
	width: 350px;
	font-size: 12px;
	color: #333;
	margin-top: 5px;
}
.myShopLink,.anpLink{
	color: #48a7e7;
}
.myShopLink:hover,.anpLink:hover{
	color: #ff9900;
}
.footer{
	width: 100%;
	height: 220px;
	background: #f3f3f3;
	overflow: hidden;
}
.footerNavigation{
	width: 790px;
	overflow: hidden;
	font-size: 12px;
	margin: 23px auto 0;
}
.footerNavigation li,.footerIco{
	width: 70px;
	float: left;
	text-align: center;
	line-height: 12px;
}
.footerNavigation a{
	color: #666; 
}
.footerIco{
	border-left: 1px solid #666;
}
#footerIco1{
	width: 80px;
	float: left;
	text-align: center;
	line-height: 17px;
	width: 80px;border-left: 1px solid #666;
}
#footerIco1 a{
	color: #666;
	display: block;
	width: 66px;
	height: 17px;
	line-height: 17px;
	margin-left: 5px;
	margin-top: -2px;
}
.footerNavigation a:hover,#footerIco1 a:hover{
	color: #e4393c;
	text-decoration: underline;
}
.footerTxt1{
	text-align: center;
	margin-top: 16px;
	font-size: 12px;
	color: #666;
}
.footerTxt2{
	text-align: center;
	font-size: 12px;
	color: #666;
	padding-top: 4px;
}
.footerTxt2 a{
	color: #666;
	line-height: 13px;
}
.footerTxt2 a:hover{
	color: #e4393c;
	text-decoration: underline;
}
.footerImgBox{
	width: 469px;
	margin: 13px auto 0;
	overflow: hidden;
}
.footerImg1,.footerImg2{
	float: left;
}
.footerImg2{
	padding-left: 10px;
}
.footerImg3{
	float: right;
}
#MenuCenter{
	display: block;
}
.rightTxt{
	width: 55px;
	float: right;
}
.leftTxt{
	width: 55px;
	float: left;
	margin-left: 10px;
}
.disIptBox,.disIptBox1{
	margin-left:10px;
}
.disIptBox1{
	display: none;
}
.disReply{
	width: 100%;
	line-height: 15px;
	font-size: 12px;
	text-align: right;
	display: none;
}
.disReplyBtn{
	padding-right: 20px;
}
.rightTxt{
	display: none;
}
.recoveryRecordBox{
	width: 100%;
	background: #fff;
	line-height: 44px;
    border-top: 1px dashed #e4e4e4;
    border-bottom: 1px dashed #e4e4e4;
    display: none;
}
.recoveryRecordBox p{
	float: left;
}
.number{
	width: 30px;
    float: left;
    vertical-align: middle;
    line-height: 44px;
    font-size: 22px;
    color: gray;
    margin-left: 10px;
}
.messageBox{
	width: 550px;
	word-break:break-word;
	line-height: 15px;
	margin-top: 16px;
	margin-bottom: 10px;
}
.NewTime{
	width: 180px;
	margin-left: 20px;
}
.disReply1{
	text-align: right;
	display: none;
}
.disReplyBtn1,.disReplyBtn{
	display: inline-block;
	width: 50px;
	height: 20px;
	text-align: center;
}
.disReplyBtn1{
	margin-right: 18px;
}
.pageBox{
	width: 670px;
	height: 36px;
	font-size: 12px;
	line-height: 36px;
	margin-left: 394px;
	margin-top: 10px;
}
.pageBox ul{
	width: 380px;
	overflow: hidden;
	float: left;
}
.pageBox p{
	float: left;
}
.pageBox ul li{
	float: left;
	height: 31px;
	cursor: pointer;
	margin-left: 5px;
}
.page1{
	width: 58px;
	height: 29px;
	text-align: center;
	line-height: 29px;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
}
.page2{
	width: 46px;
	height: 29px;
	border: 1px solid #e1e1e1;
	text-align: center;
	line-height: 29px;
	border-radius: 5px;
}
.page3{
	width: 28px;
	height: 32px;
	color: #48a7e8;
	line-height: 32px;
	text-align: center;
}
.page4{
	width: 28px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
}
.page5{
	width: 28px;
	height: 32px;
	line-height: 32px;
	text-align: center;
}
.pageIpt{
	width: 39px;
	height: 22px;
	border: 1px solid #a9a9a9;
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.sureBtn{
	height: 21px;
	margin-left: 5px;
	margin-top: 7px;
	float: left;
	font-size: 12px;
	line-height: 21px;
}
.oifBox{
	width: 1038px;
	border: 1px solid #e4e4e4;
	margin-top: 10px;
	background: #f4f6f9;
}
.oifLeftUL{
	width: 265px;
	float: left;
	margin-bottom: 13px;
}
.oifLeftUL li{
	height: 22px;
	margin-top: 10px;
	font-size: 12px;
	color: #333;
}
.oifLeftNameTxt,.oifMiddleNameTxt{
	width: 77px;
	float: left;
	line-height: 22px;
	text-align: right;
}
.cifLeftIpt,.cifMiddleIpt{
	width: 170px;
	height: 20px;
	padding-left: 3px;
	font-size: 12px;
	display: block;
	float: left;
	border: 1px solid #cbcbcb;
}
.cifLeftSele,.cifRightSele{
	width: 165px;
	height: 20px;
	font-size: 12px;
	display: block;
	float: left;
	border: 1px solid #cbcbcb;
	color: #999999;
}
.oifMIddleUl{
	width: 260px;
	float: left;
	position: relative;
	margin-left: 20px;
}
.oifMIddleUl li{
	height: 22px;
	margin-top: 10px;
	font-size: 12px;
	color: #333;
}
.positionBgc1{
	width: 20px;
	height: 19px;
	background: url(../indexImg/shop_img.gif) -138px -452px no-repeat;
	position: absolute;
	left: 230px;
	top: 12px;
}
#txt{
	text-align: center;
}
.queryBtn{
	display: inline-block;
	width: 87px;
	height: 33px;
	background: #1973c1;
	line-height: 33px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	margin-top: 125px;
	margin-left: 20px;
}
.navigationUl{
	width: 1040px;
    border-bottom: 2px solid #1557ad;
    overflow: hidden;
    margin-top: 11px;
}
.navigationUl li{
	float: left;
	font-size: 12px;
	text-align: center;
	margin-left: 15px;
	cursor: pointer;
}
.navigationLiTxt1{
	width: 79px;
	height: 29px;
	background: #1976c3;
	line-height: 29px;
}
.navigationLiTxt1 a{color: #fff;}
.navigationLiTxt2{
	width: 67px;
	height: 28px;
	border: 1px solid #dbdada;
	line-height: 28px;
	background: #fff;
	border-bottom: none;
}
.navigationLiTxt2 a{color: #666666;}
.lineBox{
    width: 100%;
    height: 10px;
    border-top: 1px solid #e4e4e4;
    background: #f4f6f9;
    margin-top: 20px;
}
.batchRemarkBox{
	width: 100%;
	height: 29px;
	border-top: 1px solid #e3e2e1;
}
.tittleBox{
	width: 71px;
	height: 29px;
	background: #e3e2e1;
	line-height: 29px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	float: left;
	cursor: pointer;
}
.topNavigationBox{
	width: 1038px;
	height: 31px;
	border: 1px solid #e3e2e1;
	margin: 10px auto;
	font-size: 12px;
}
.allSelect{
	margin: -1px 0 0 9px;
	vertical-align: middle;
}
.topNavigationBox span{
	font-weight: bold;
	line-height: 31px;
}
.headTd{
	margin-top: 10px;
	width: 1038px;
	height: 32px;
	background: #e8f2f6;
	border: none;
	font-size: 12px;
	color: #50545b;
	position: relative;
	line-height: 32px;
	border: 1px solid #e4e4e4;
}
.orderChe{
	margin: -1px 0 0 9px;
    vertical-align: middle;
}
.orderNumber{
	color: #206ebc;
}
.imgBtn{
	text-align: center;
    left: 988px;
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
}
.table{
	border: 1px solid #e4e4e4;
	border-top: none;
	font-size: 12px;
	color: #50545b;
}
.commodityImg{
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid #e4e4e4;
	float: left;
	margin: 10px;
}
.commodityCenterBox{
	width: 180px;
	float: left;
	margin-top: 10px;
}
.commodityLink{
	display: block;
	color: #206ebc;
}
.commodityNoBox{
	width: 180px;
	margin-top: 5px;
}
.td1,.td2,.td3,.td4,.td5,.td5,.td6,.td7,.td8,.td9{
	border-right: 1px solid #e4e4e4;
	text-align: center;
	/*word-wrap: break-word;*/
	word-break:break-all;
	padding: 5px;
}
.td2{
	line-height: 20px;
}
.td8{
	border: none;
}
.totalAmountBox{
	width: 1038px;
	border: 1px solid #e4e4e4;
	border-top: none;
	background: #e8f2f6;
	font-size: 12px;
	line-height: 31px;
	text-align: center;
}
.maskBox{
	position: absolute;
	left: 0px;
	top: 0px;
    z-index: 99;
    background-color:rgba(227,227,227,0.5);
    display: none;
}
.maskPopupBox{
	width: 430px;
	background: #fff;
	margin: 360px auto 0;
	overflow: hidden;
}
.maskPopupHed{
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color: #808080;
	background: #ededed;
}
.maskPopupHedLeftTxt{
	width: 300px;
    font-size: 20px;
    padding-left: 15px;
    float: left;
}
.maskPopupHedBgc{
	width: 22px;
	height: 22px;
	background: url(../indexImg/close.png) no-repeat;
	float: right;
	cursor: pointer;
	margin: 8px 20px 0 0;
}
.mskCenterBox{
	width: 405px;
	height: 220px;
	border: 1px solid #d7d7d7;
	margin: 10px auto 20px;
	overflow: hidden;
}
.mskTextarea{
	width: 403px;
	height: 220px;
}
.mskBtnBox{
	width: 100%;
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
}
.mskBtnBox button{
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
}
.mskBtn1{
	color: #fff;
	background: #48a7e7;
	border: none;
	margin-right: 20px;
}
.mskBtn2{
	background: #fff;
	color: #333333;
	border: 1px solid #c7c7c7;
	margin-left: 20px;
}
.tdDiv{
	width: 100%;
}
.td5Ipt{
	width: 98px;
	height: 20px;
	margin: 0 auto;
	border: 1px solid #aaaaaa;
}
.navigationOptionBox li a {
    color: #fff;
}